:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-blue: hsl(246, 80%, 60%);
  --clr-work: hsl(15, 100%, 70%);
  --clr-play: hsl(195, 74%, 62%);
  --clr-study: hsl(348, 100%, 68%);
  --clr-exercise: hsl(145, 58%, 55%);
  --clr-social: hsl(264, 64%, 52%);
  --clr-selfcare: hsl(43, 84%, 65%);

  --clr-blue-vdark: hsl(226, 43%, 10%);
  --clr-blue-dark: hsl(235, 46%, 20%);
  --clr-blue-desat: hsl(246, 80%, 60%);
  --clr-blue-pale: hsl(236, 100%, 87%);
  --clr-blue-med: hsl(236, 41%, 34%);

  // --fs-logo: 24px;
  --fs-body: 18px;
  --fs-p: 1rem;
  --fs-h1-title: 0.8rem;
  --fs-h1-name: 1.3rem;
  --fs-h2-card: 1rem;
  --fs-label: 1rem;
  --fs-p-now: 1.75rem;
  --fs-p-prev: 0.85rem;

  --fs-small: 14px;
  --fs-xsmall: 12px;

  --lh-body: 1.5;
  --lh-p: 1.5;
  --lh-h1-title: 1.7;
  --lh-h1-name: 1.3;
  --lh-h2-card: 1.2;
  --lh-p-stats: 1.5;
  // --ls-h2-total: 0.05px;
  --ls-body: 0px;
  --ls-label: 0.2px;
  --ls-p-prev: 0.1px;
  --ff-primary: Rubik, Arial, sans-serif;
}

@media (min-width: 780px) {
  :root {
    --fs-h1-title: 0.82rem;
    --fs-h1-name: 2.25rem;
    --fs-h2-card: 1rem;
    --fs-label: 1rem;
    --fs-p-now: 3.1rem;
    --fs-p-prev: 0.85rem;

    --lh-body: 1.5;
    --lh-p: 1.5;
    --lh-h1-title: 1.1;
    --lh-h1-name: 1.18;
    --lh-h2-card: 1.2;
    --lh-p-stats: 1.45;

    // --ls-h2-total: 0.05px;
    --ls-body: 0px;
    --ls-label: 0.2px;
    --ls-p-prev: 0.1px;
    // --pad-hor: 0.9em;
    --pad-hor: 2em;
    --pad-top: 14.1em;
    --pad-bottom: 5px;
  }
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

p {
  line-height: var(--lh-body);
}

html,
body {
  font-size: var(--fs-body);
}

img {
  width: 100%;
}

button {
  border: 0;
  outline: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

// General styling

*:focus {
  outline: solid var(--clr-white) 0.2rem;
}

.radiobtns {
  [type="radio"] + label {
    display: inline-block;
    cursor: pointer;
    margin: 0;
    padding: 0;
    font-size: var(--fs-label);
    color: var(--clr-blue-pale);
    letter-spacing: var(--ls-label);
    font-weight: 300;
    font-family: inherit;
    &:hover {
      color: var(--clr-white);
    }
  }
  [type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    background-color: inherit;
    border: 0;
    border: 0;
    margin: 0;
    outline: 0;
    position: absolute;

    &:checked + label {
      color: var(--clr-white);
    }
    &:checked:hover + label {
      color: var(--clr-white);
    }
    &:focus + label {
      outline: solid var(--clr-white) 0.2rem;
    }
  }
}

[type="radio"] + label,
.card__header .title a:focus,
.card__header .option:focus {
  padding: 0.1rem 0.2rem;
  margin-left: -0.2rem;
}

.card__header .option:focus {
  padding: 0.1rem 0.2rem;
  margin-right: -0.2rem;
}

// Utils

.container {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: min(91.5%, 80em);
  margin: 0rem auto;
}

.block-footer {
  display: block;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Typography */

.profile {
  &__user {
    .title {
      color: var(--clr-blue-pale);
      font-size: var(--fs-h1-title);
      line-height: var(--lh-h1-title);
      font-weight: 400;
    }
    .name {
      color: var(--clr-white);
      font-size: var(--fs-h1-name);
      line-height: var(--lh-h1-name);
      font-weight: 300;
    }
  }
}

.card {
  a {
    text-decoration: none;
  }
  &__header {
    .title a {
      color: var(--clr-white);
      font-size: var(--fs-h2-card);
      line-height: var(--lh-h2-card);
      font-weight: 500;
    }
  }
  &__stats {
    font-weight: 300;
    > * {
      line-height: var(--lh-p-stats);
    }
    &-now {
      font-size: var(--fs-p-now);
    }
    &-prev {
      color: var(--clr-blue-pale);
      font-size: var(--fs-p-prev);
      letter-spacing: var(--ls-p-prev);
    }
  }
}

.footer {
  color: var(--clr-brown-dark);
  &__attribution {
    text-align: center;
    font-size: var(--fs-xsmall);
    color: inherit;
  }
  &__attribution a {
    font-size: inherit;
    color: inherit;
  }
}

// Structure blocks

body {
  min-height: 100vh;
  position: relative;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  font-weight: 400;
  color: var(--clr-white);
  background: var(--clr-blue-vdark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.component {
  padding: 3rem 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 auto;
}

.component .card {
  border-radius: 1rem 1rem 1.18rem 1.18rem;
}

.component .profile,
.component .profile > div,
.component .cards,
.component .card > div {
  border-radius: 1rem;
}

// Profile section

.profile {
  background-color: var(--clr-blue-dark);
  padding: 0;
  &__user {
    background-color: var(--clr-blue-desat);
    display: flex;
    justify-content: space-between;
    padding: 1.6em;
    .avatar {
      width: 70px;
      img {
        border-radius: 100%;
        border: 0.2em solid var(--clr-white);
      }
    }
    .title {
      width: 182px;
      margin: auto 0;
    }
    .name {
      display: block;
    }
  }
  &__duration {
    display: flex;
    justify-content: space-between;
    padding: 1.35em 1.85em;
  }
}

// Cards section

.cards {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.33em;
}

.card {
  position: relative;
  background-repeat: no-repeat;
  background-position: top -11px right 16px;
  padding-top: 2.15em;
  &__container {
    background-color: var(--clr-blue-dark);
    padding: 1.55em 1.35em 1.27em;
  }
  &__container:hover {
    background-color: var(--clr-blue-med);
    cursor: pointer;
  }
  &__header,
  &__stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__header {
    .title {
      margin-bottom: 0.1em;
      a {
        display: inline-block;
      }
    }
    .option {
      background: none;
      padding: 0.11em 0 0;
      position: relative;
      cursor: pointer;
      svg {
        fill: #bbc0ff;
      }
      &:hover svg {
        fill: var(--clr-white);
      }
    }
  }
}

// styling for each card

.card {
  &-work {
    background-color: var(--clr-work);
    background-image: url("./images/icon-work.svg");
  }
  &-play {
    background-color: var(--clr-play);
    background-image: url("./images/icon-play.svg");
    background-position: top -5px right 16px;
  }
  &-study {
    background-color: var(--clr-study);
    background-image: url("./images/icon-study.svg");
  }
  &-exercise {
    background-color: var(--clr-exercise);
    background-image: url("./images/icon-exercise.svg");
    background-position: top 0px right 16px;
  }
  &-social {
    background-color: var(--clr-social);
    background-image: url("./images/icon-social.svg");
  }
  &-selfcare {
    background-color: var(--clr-selfcare);
    background-image: url("./images/icon-self-care.svg");
  }
}

// styling for interacting with card

.card a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 0.5rem;
}

.card:focus-within {
  outline: solid var(--clr-white) 0.2rem;
}

// footer

.footer {
  display: flex;
  width: 100%;
  padding: 0.5rem;
  &__attribution {
    align-self: flex-end;
    text-align: center;
    width: 100%;
    height: 100%;
    span {
      display: inline-block;
    }
  }
}

// media queries

@media (min-width: 780px) {
  .component {
    min-width: 30rem;
    max-width: 1110px;
    width: 100%;
    gap: 1.65rem;
    flex-direction: row;
  }

  .profile {
    min-width: 255px;
    & > div {
      flex-direction: column;
    }
    &__user {
      padding: 1.95rem 1.8rem;
      .avatar {
        width: 84px;
        margin-bottom: 2rem;
        img {
          border-radius: 50%;
          border: 0.2rem solid var(--clr-white);
        }
      }
      .title {
        margin: 0 0 2.45rem;
      }
      .name {
        margin-top: 0.2rem;
        display: block;
      }
    }
    &__duration {
      gap: 0.95rem;
      padding: 1.35rem 1.85rem 1.65rem;
      align-items: flex-start;
    }
  }

  .cards {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
    column-gap: 1.65rem;
    row-gap: 1.65rem;
  }

  .card {
    flex: 1 0 auto;
    padding-top: 2.5rem;
    &__stats {
      flex-direction: column;
      align-items: flex-start;
    }
    &__container {
      padding: 1.15rem 1.68rem 1.7rem;
    }
    &__header {
      .title {
        margin-bottom: 0.8rem;
      }
      .option {
        background: none;
        padding: 0.11em 0 0;
      }
    }
  }
}
