:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-blue: hsl(246, 80%, 60%);
  --clr-work: hsl(15, 100%, 70%);
  --clr-play: hsl(195, 74%, 62%);
  --clr-study: hsl(348, 100%, 68%);
  --clr-exercise: hsl(145, 58%, 55%);
  --clr-social: hsl(264, 64%, 52%);
  --clr-selfcare: hsl(43, 84%, 65%);
  --clr-blue-vdark: hsl(226, 43%, 10%);
  --clr-blue-dark: hsl(235, 46%, 20%);
  --clr-blue-desat: hsl(246, 80%, 60%);
  --clr-blue-pale: hsl(236, 100%, 87%);
  --clr-blue-med: hsl(236, 41%, 34%);
  --fs-body: 18px;
  --fs-p: 1rem;
  --fs-h1-title: 0.8rem;
  --fs-h1-name: 1.3rem;
  --fs-h2-card: 1rem;
  --fs-label: 1rem;
  --fs-p-now: 1.75rem;
  --fs-p-prev: 0.85rem;
  --fs-small: 14px;
  --fs-xsmall: 12px;
  --lh-body: 1.5;
  --lh-p: 1.5;
  --lh-h1-title: 1.7;
  --lh-h1-name: 1.3;
  --lh-h2-card: 1.2;
  --lh-p-stats: 1.5;
  --ls-body: 0px;
  --ls-label: 0.2px;
  --ls-p-prev: 0.1px;
  --ff-primary: Rubik, Arial, sans-serif;
}

@media (min-width: 780px) {
  :root {
    --fs-h1-title: 0.82rem;
    --fs-h1-name: 2.25rem;
    --fs-h2-card: 1rem;
    --fs-label: 1rem;
    --fs-p-now: 3.1rem;
    --fs-p-prev: 0.85rem;
    --lh-body: 1.5;
    --lh-p: 1.5;
    --lh-h1-title: 1.1;
    --lh-h1-name: 1.18;
    --lh-h2-card: 1.2;
    --lh-p-stats: 1.45;
    --ls-body: 0px;
    --ls-label: 0.2px;
    --ls-p-prev: 0.1px;
    --pad-hor: 2em;
    --pad-top: 14.1em;
    --pad-bottom: 5px;
  }
}
*,
*:after,
*:before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

p {
  line-height: var(--lh-body);
}

html,
body {
  font-size: var(--fs-body);
}

img {
  width: 100%;
}

button,
button:focus {
  border: 0;
  outline: 0;
}

*:focus {
  outline: solid var(--clr-white) 0.2rem;
}

.radiobtns {
  display: flex;
  flex-direction: column;
}
.radiobtns [type=radio] + label {
  display: inline-block;
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-size: var(--fs-label);
  color: var(--clr-blue-pale);
  letter-spacing: var(--ls-label);
  font-weight: 300;
  font-family: inherit;
  padding: 0.1rem 0.2rem;
  line-height: 1;
}
.radiobtns [type=radio] + label:hover {
  color: var(--clr-white);
}
.radiobtns [type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  display: inline-block;
  background-color: inherit;
  border: 0;
  border: 0;
  margin: 0;
  outline: 0;
  position: absolute;
}
.radiobtns [type=radio]:checked + label {
  color: var(--clr-white);
}
.radiobtns [type=radio]:checked:hover + label {
  color: var(--clr-white);
}
.radiobtns [type=radio]:focus + label {
  outline: solid var(--clr-white) 0.2rem;
}

.container {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: min(91.5%, 80em);
  margin: 0rem auto;
}

.block-footer {
  display: block;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Typography */
.profile__user .title {
  color: var(--clr-blue-pale);
  font-size: var(--fs-h1-title);
  line-height: var(--lh-h1-title);
  font-weight: 400;
}
.profile__user .name {
  color: var(--clr-white);
  font-size: var(--fs-h1-name);
  line-height: var(--lh-h1-name);
  font-weight: 300;
}

.card__header-title {
  font-size: var(--fs-h2-card);
  line-height: var(--lh-h2-card);
  font-weight: 500;
}
.card__stats {
  font-weight: 300;
}
.card__stats > * {
  line-height: var(--lh-p-stats);
}
.card__stats-now {
  font-size: var(--fs-p-now);
}
.card__stats-prev {
  color: var(--clr-blue-pale);
  font-size: var(--fs-p-prev);
  letter-spacing: var(--ls-p-prev);
}

.footer {
  color: var(--clr-brown-dark);
}
.footer__attribution {
  text-align: center;
  font-size: var(--fs-xsmall);
  color: inherit;
}
.footer__attribution a {
  font-size: inherit;
  color: inherit;
}

body {
  min-height: 100vh;
  position: relative;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  font-weight: 400;
  color: var(--clr-white);
  background: var(--clr-blue-vdark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.component {
  padding: 3rem 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 0 auto;
}

.component .card {
  border-radius: 1rem 1rem 2rem 2rem;
}

.component .profile,
.component .profile > div,
.component .card > div {
  border-radius: 1rem;
}

.profile {
  background-color: var(--clr-blue-dark);
  padding: 0;
}
.profile__user {
  background-color: var(--clr-blue-desat);
  display: flex;
  justify-content: space-between;
  padding: 1.6em;
}
.profile__user .avatar {
  width: 70px;
}
.profile__user .avatar img {
  border-radius: 100%;
  border: 0.2em solid var(--clr-white);
}
.profile__user .title {
  width: 182px;
  margin: auto 0;
}
.profile__user .name {
  display: block;
}
.profile__duration {
  display: flex;
  justify-content: space-between;
  padding: 1.35em 1.85em;
}

.cards {
  display: flex;
  flex-flow: column nowrap;
  gap: 1.33em;
}

.card {
  background-repeat: no-repeat;
  background-position: top -11px right 16px;
  padding-top: 2.15em;
}
.card__container {
  background-color: var(--clr-blue-dark);
  padding: 1.55em 1.35em 1.27em;
}
.card__container:hover {
  background-color: var(--clr-blue-med);
  cursor: pointer;
}
.card__header, .card__stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__header-title {
  margin-bottom: 0.1em;
}
.card__header-option {
  background: none;
  padding: 0.11em 0 0;
  align-self: flex-start;
  cursor: pointer;
}
.card__header-option svg {
  fill: #bbc0ff;
}
.card__header-option:hover svg {
  fill: var(--clr-white);
}
.card-work {
  background-color: var(--clr-work);
  background-image: url("./images/icon-work.svg");
}
.card-play {
  background-color: var(--clr-play);
  background-image: url("./images/icon-play.svg");
  background-position: top -5px right 16px;
}
.card-study {
  background-color: var(--clr-study);
  background-image: url("./images/icon-study.svg");
}
.card-exercise {
  background-color: var(--clr-exercise);
  background-image: url("./images/icon-exercise.svg");
  background-position: top 0px right 16px;
}
.card-social {
  background-color: var(--clr-social);
  background-image: url("./images/icon-social.svg");
}
.card-selfcare {
  background-color: var(--clr-selfcare);
  background-image: url("./images/icon-self-care.svg");
}

.footer {
  display: flex;
  width: 100%;
  padding: 0.5rem 0;
}
.footer__attribution {
  align-self: flex-end;
  text-align: center;
  width: 100%;
  height: 100%;
}
.footer__attribution span {
  display: inline-block;
}

@media (min-width: 780px) {
  .component {
    min-width: 30em;
    max-width: 1110px;
    width: 100%;
    gap: 1.65em;
    flex-direction: row;
  }
  .profile {
    min-width: 255px;
  }
  .profile > div {
    flex-direction: column;
  }
  .profile__user {
    padding: 1.9em 1.78em;
  }
  .profile__user .avatar {
    width: 84px;
    margin-bottom: 2em;
  }
  .profile__user .avatar img {
    border-radius: 50%;
    border: 0.2em solid var(--clr-white);
  }
  .profile__user .title {
    margin: 0 0 3.1em;
  }
  .profile__user .name {
    margin-top: 0.07em;
    display: block;
  }
  .profile__duration {
    gap: 1.12em;
    padding: 1.45em 1.85em 1.5em;
    align-items: flex-start;
  }
  .cards {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(12em, 1fr));
    -moz-column-gap: 1.65em;
         column-gap: 1.65em;
    row-gap: 1.65em;
  }
  .card {
    flex: 1 0 auto;
    padding-top: 2.5em;
  }
  .card__stats {
    flex-direction: column;
    align-items: flex-start;
  }
  .card__container {
    padding: 1.65em 1.68em 1.6em;
  }
  .card__header-title {
    margin-bottom: 0.9em;
  }
  .card__header-option {
    background: none;
    padding: 0.11em 0 0;
  }
}/*# sourceMappingURL=stylesheet.css.map */