:root {

  --clr-white: 0, 0%, 98%;
  --clr-black: 0, 0%, 8%;
  --clr-neutral-500: 0, 0%, 41%;
  --clr-overlay: 0, 0%, 8%;

  --clr-link: hsl(var(--clr-neutral-500));
  --clr-link-hov: hsl(var(--clr-black));

  --bs-dropdown: 0px 0px 30px hsla(0, 0%, 8%, 0.15);

  --debug: 1px magenta solid;

  --fs-100: 0.75rem;
  --fs-200: 0.875rem;
  --fs-300: 0.9375rem; // 15pt
  --fs-400: 1rem; // 16pt
  --fs-500: 1.125rem; // 18pt
  --fs-600: 1.25rem; // 20pt
  --fs-700: 1.5rem; // 24pt
  --fs-800: 2rem; // 32pt
  --fs-900: 2.25rem; // 36pt

  --fs-body: var(--fs-400);
  --fs-nav: var(--fs-400);
  --fs-p: var(--fs-500);
  --fs-h1: clamp(2.25rem, calc(1.2817rem + 4.1315vw), 5rem);
  --fs-login : var(--fs-300);
  --fs-small: var(--fs-100);

  --fw-500: 500;
  --fw-700: 700;

  --ff-primary: 'Epilogue', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  --ls-h1: -0.074rem;
  --ls-cta-intro: -0.015em;

  --lh-none: 1;
  --lh-body: 1.5;
  --lh-h1: 1.2;
  --lh-nav: 1;
  --lh-intro: 1.61;
  --lh-headings: 1.2;
  --lh-footer: 1.15;

  --pad-100: 1rem;

  --max-header: min(92.5%, 80rem);
}

@media (min-width: 960px) {
  :root {
    --fs-400: 1.125rem; // 18pt
    --fs-nav: var(--fs-200);
    --fs-login : var(--fs-200);

    --lh-intro: 1.58;
    --lh-h1: 1;

    --ls-intro: 0.05px;
    --max-header: 87.3rem;
  }
} 