// @use "./sass/config";
// utility classes (styling)
 
.fs-small {
  font-size: var(--fs-small);
}
.fs-h1 {
  font-size: var(--fs-h1);
}
.fs-login {
  font-size: var(--fs-login);
}
.fs-nav {
  font-size: var(--fs-nav);
}
.fw-bold {
  font-weight: var(--fw-700);
}
.clr-white {
  color: hsl(var(--clr-white));
}
.clr-black {
  color: hsl(var(--clr-black));
}
.clr-neutral-500 {
  color: hsl(var(--clr-neutral-500));
}

// utility classes (structure)
.wrapper {
  margin-inline: auto;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}



