:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-red-soft: hsl(10, 79%, 65%);
  --clr-cyan: hsl(186, 34%, 60%);
  --clr-brown-dark: hsl(25, 47%, 15%);
  --clr-brown-med: hsl(28, 10%, 53%);
  --clr-cream: hsl(27, 66%, 92%);
  --clr-orange-vpale: hsl(33, 100%, 98%);
  --fs-100: 0.75rem;
  --fs-200: 0.8125rem;
  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-700: 1.5rem;
  --fs-800: 1.875rem;
  --fs-900: 2rem;
  --fw-500: 500;
  --fw-700: 700;
  --fs-body: 1rem;
  --fs-h1: var(--fs-700);
  --fs-h2-balance: var(--fs-400);
  --fs-h2-total: var(--fs-400);
  --fs-p: var(--fs-500);
  --fs-p-balanace: var(--fs-700);
  --fs-p-total: var(--fs-800);
  --fs-p-label: var(--fs-100);
  --fs-p-amount: var(--fs-400);
  --fs-p-change: var(--fs-400);
  --fs-p-text: var(--fs-400);
  --fs-small: 0.875rem;
  --fs-xsmall: 0.5625rem;
  --lh-body: 1.2;
  --lh-footer: 1.4;
  --pad-comp: clamp(1rem, calc(-2.8071rem + 16.2437vw), 3rem);
  --ff-primary: "DM Sans", Arial, sans-serif;
}

@media (min-width: 980px) {
  :root {
    --fs-p-label: var(--fs-300);
    --fs-100: 0.8125rem;
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.25rem;
    --fs-700: 2rem;
    --fs-800: 3rem;
    --lh-body: 1.2;
  }
}
*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body,
main,
section,
h1,
h2,
h3,
p,
span {
  margin: 0;
}

p {
  line-height: var(--lh-body);
}

html,
body {
  font-size: var(--fs-body);
}

img {
  width: 100%;
}

button {
  font-family: inherit;
}

button,
button:focus {
  border: 0;
  outline: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  position: relative;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  color: var(--clr-brown-med);
  background: var(--clr-cream);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding: 0;
  line-height: var(--lh-body);
}

/* Typography */
.balance {
  color: var(--clr-orange-vpale);
}
.balance__stats-title {
  font-size: var(--fs-h2-balance);
  letter-spacing: var(--ls-h2-balance);
  font-weight: 400;
}
.balance__stats-val {
  font-size: var(--fs-p-balanace);
  letter-spacing: var(--ls-p-balanace);
  font-weight: 700;
}

.spending__title {
  color: var(--clr-brown-dark);
  font-size: var(--fs-h1);
  letter-spacing: var(--ls-h1);
  font-weight: 700;
}

.stats__subtitle {
  text-align: left;
  font-size: var(--fs-h2-total);
  font-weight: 400;
}

.bars__day-amount {
  font-size: var(--fs-p-amount);
  color: var(--clr-orange-vpale);
  font-weight: 700;
}
.bars__day-label {
  font-size: var(--fs-p-label);
}

.stats__total {
  color: var(--clr-brown-dark);
  font-size: var(--fs-p-total);
  letter-spacing: var(--ls-p-total);
  font-weight: 700;
}
.stats__change * {
  margin: 0;
  padding: 0;
}
.stats__change-val {
  color: var(--clr-brown-dark);
  font-size: var(--fs-p-change);
  font-weight: 700;
}
.stats__change-text {
  font-size: var(--fs-p-text);
}

.footer {
  color: var(--clr-brown-dark);
  line-height: var(--lh-footer);
}
.footer__attribution {
  text-align: center;
  font-size: var(--fs-small);
  color: inherit;
}
.footer__attribution a {
  font-size: inherit;
  color: inherit;
}

/* Structure */
.component {
  display: grid;
  align-items: center;
  flex: 1;
  padding: var(--pad-comp);
}

.container {
  width: min(91.45vw, 33.75rem);
  min-width: 320px;
}

.spending,
.balance {
  border-radius: 0.5em;
  display: flex;
}

.balance {
  background-color: var(--clr-red-soft);
  padding: 1.25rem 1rem 1.45rem;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.balance__stats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.balance__stats-title {
  margin-bottom: 0.35rem;
}
.balance__img {
  width: 3.75rem;
  margin: 0 0.5rem 0 0;
}

.spending {
  flex-direction: column;
  order: 2;
  background-color: var(--clr-orange-vpale);
  padding: 1.55rem 1.25rem 1.6rem;
}
.spending__title {
  align-self: flex-start;
}
.spending__bars {
  height: 14.5rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 0.78rem;
  align-items: flex-end;
  margin-bottom: 1.4rem;
}
.spending__bars > * {
  flex: 1 0 1.2rem;
}

.bars__day {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bars__day-bar {
  width: 100%;
  border-radius: 0.2rem;
  height: 0.1rem;
  background-color: var(--clr-red-soft);
  cursor: pointer;
}
.bars__day-bar:hover {
  opacity: 0.5;
}
.bars__day-amount {
  position: absolute;
  top: -2.7rem;
  margin-left: attr(data-width px);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--clr-brown-dark);
  border-radius: 0.3rem;
  padding: 0.4rem 0.5rem;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}
.bars__day-label {
  padding: 0.75rem 0 0.15rem;
}
.bars__day-bar:hover ~ .bars__day-amount {
  opacity: 1;
}

.stats {
  padding-top: 1.5rem;
  border-top: 0.175rem solid var(--clr-cream);
}
.stats__container, .stats__container > * {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.stats__container > *, .stats__container > * > * {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
.stats__subtitle {
  margin-bottom: 0.2rem;
}
.stats__total {
  margin-top: 0.2rem;
}

.highlight {
  background-color: var(--clr-cyan);
}

.hover {
  display: block;
}

.footer {
  display: flex;
  padding: 0.75rem;
  flex: 0;
}
.footer__attribution {
  flex: 1;
  display: flex;
  width: 100%;
  height: 100%;
}
.footer__attribution-content {
  align-self: flex-end;
  margin: 0 auto;
}
.footer__attribution-content .block-footer {
  display: block;
}

@media (min-width: 560px) {
  .spending,
.balance {
    border-radius: 1.25rem;
  }
  .balance {
    padding: 1.75rem 1.8rem 1.7rem;
  }
  .balance__stats-title {
    margin-bottom: 0.6rem;
  }
  .balance__img {
    width: 4.5rem;
    margin: 0rem 0.65rem 0 0;
  }
  .spending {
    padding: 2.1rem 2.5rem 2.7rem;
  }
  .spending__bars {
    height: 16rem;
    gap: 1.15rem;
    margin-bottom: 1.35rem;
  }
  .bars__day-bar {
    border-radius: 0.3em;
    height: 0.1em;
  }
  .bars__day-amount {
    top: -2.75rem;
  }
  .bars__day-label {
    padding: 0.48rem 0 0.7rem;
  }
  .stats {
    padding-top: 2.1rem;
  }
  .stats__subtitle {
    margin-bottom: 0.2rem;
  }
  .stats__total {
    margin-top: 0rem;
  }
  .stats__change-val {
    margin-bottom: 0.1rem;
  }
  .footer__attribution-content .block-footer {
    display: inline-block;
  }
}/*# sourceMappingURL=stylesheet.css.map */