:root {
  --clr-primary-700: hsl(300, 43%, 22%);
  --clr-accent-400: hsl(333, 80%, 67%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(300, 24%, 96%);
  --clr-neutral-300: hsl(303, 10%, 53%);

  // --clr-magenta-darkgray: hsl(303, 10%, 53%);
  // --clr-magenta-medgray: #f7f2f8;
  // --clr-magenta-lightgray: hsl(300, 24, 9%);
  // --clr-white: hsl(0, 0%, 100%);

  --fs-100: 0.8125rem; // 13px
  --fs-200: 0.875rem; // 14px
  --fs-300: 0.9375rem; // 15px
  --fs-400: 1rem; // 16px
  --fs-500: 1.125rem; // 18px
  --fs-600: 1.25rem; // 20px
  --fs-700: 1.5rem; // 24px
  --fs-800: 2rem; // 32px
  --fs-900: 2.25rem; // 36px

  --fs-body: var(--fs-400);
  --fs-p: var(--fs-300);
  --fs-heading: var(--fs-800);
  --fs-card: var(--fs-100);

  --lh-body: 1.7;
  --lh-heading: 1;

  --ff-primary: Spartan, sans-serif;

  --debug: solid 1px pink;
}

@media (min-width: 1150px) {
  :root {
    --fs-heading: 3rem;
    --ls-heading: -1.75px;
    --ls-textbody: -0.5px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

// Utilities

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.flex {
  display: flex;
}

// General styling

body {
  font-size: var(--fs-body);
  font-family: var(--ff-primary);
  color: var(--clr-neutral-200);
  width: 100%;
  // * {
  //   outline: var(--debug);
  // }
}

p {
  font-size: var(--fs-p);
}

// container and background SVGs

.container {
  position: relative;
  width: min(87%, 79.5em);
  margin-inline: auto;
}

.description::before {
  content: "";
  background-image: url("./images/bg-pattern-top-mobile.svg");
  width: 374px;
  height: 232px;
  top: 0rem;
  left: 0rem;
  position: fixed;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
}

.container::after {
  content: "";
  background-image: url("./images/bg-pattern-bottom-mobile.svg");
  width: 375px;
  height: 503px;
  bottom: 0;
  right: 0;
  position: fixed;
  background-repeat: no-repeat;
  z-index: -1;
}

@media (min-width: 376px) {
  .description::before {
    background-image: url("./images/bg-pattern-top-desktop.svg");
    width: 584px;
    height: 362px;
  }

  .container::after {
    content: "";
    background-image: url("./images/bg-pattern-bottom-desktop.svg");
    width: 1085px;
    height: 673px;
  }
}

// Main structure starts here

.content {
  --pad: 5rem 0 1rem;

  gap: 3rem;
  display: grid;
  place-content: center;
  padding: var(--pad);
}

.description {
  text-align: center;
  background: transparent;
  margin-inline: auto;
  position: relative;

  &__intro {
    color: var(--clr-neutral-300);
    background: transparent;
    margin-bottom: 2.375rem;
    .title {
      margin-inline: auto;
      max-width: 25rem;
      font-size: var(--fs-heading);
      color: var(--clr-primary-700);
      font-weight: 700;
      line-height: var(--lh-heading);
      margin-bottom: 1.5rem;
    }
    .bodytext {
      max-width: 28rem;
      line-height: var(--lh-body);
      font-weight: 500;
    }
  }
  &__ratings {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.rating {
  width: min(100%, 20rem);
  margin-inline: auto;
  padding: 1rem;
  background-color: var(--clr-neutral-200);
  border-radius: 0.5rem;
  text-align: center;
  .stars {
    display: flex;
    justify-content: center;
    margin-bottom: 0.75rem;
    > * + * {
      margin-left: 0.5rem;
    }
  }
  .star {
    background-image: url("./images/icon-star.svg");
    background-repeat: no-repeat;
    width: 17px;
    height: 16px;
  }
  .text {
    margin: 0;
    font-size: 13px;
    font-weight: 700;
    color: var(--clr-primary-700);
  }
}

.cards {
  display: grid;
  grid-auto-flow: row;
  margin-inline: auto;
  place-content: center;
  gap: 1rem;
}

.card {
  --lh-profile: 1.55;
  --lh-review: 1.7;

  background: var(--clr-primary-700);
  color: var(--clr-neutral-200);
  padding: 2.5rem 1.9rem 1.9rem;
  max-width: 30rem;
  border-radius: 0.5rem;
  text-align: left;
  position: relative;
  * {
    font-size: var(--fs-card);
  }
  &__profile {
    display: flex;
    align-items: center;
    gap: 1.4rem;
    margin-bottom: 1.6rem;
    .avatar {
      border-radius: 50%;
      width: 2.5rem;
    }
    .identity {
      display: inline-block;
      * {
        line-height: var(--lh-profile);
      }
      .name {
        font-weight: 700;
      }
      .label {
        color: var(--clr-accent-400);
      }
    }
  }
  &__review {
    line-height: var(--lh-review);
    letter-spacing: -0.2px;
  }
}

footer {
  padding: 0.75rem 0;
  background: transparent;
}

.attribution {
  background: transparent;
  bottom: 5px;
  font-size: 11px;
  text-align: center;
  color: var(--clr-primary-700);
}

.attribution a {
  font-size: inherit;
  color: inherit;
}

@media (min-width: 45em) {
  .description {
    &__ratings {
      flex-direction: row;
      gap: 0.75rem;
    }
    .rating {
      width: min(32%, 15rem);
      span {
        display: block;
      }
    }
  }
}

@media (min-width: 51em) {
  .content {
    --pad: 3.9rem 0 2rem;
    min-height: 100vh;
    gap: 4.4rem;
    > * {
      width: min(100%, 69.4rem);
    }
  }
  .description {
    text-align: left;
    max-width: unset;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: min(38%, 28rem) 1fr;
    justify-content: space-between;
    gap: 2rem;
    &__intro {
      margin-bottom: 0;
      .title {
        margin-inline: 0;
        max-width: 25rem;
        letter-spacing: var(--ls-heading);
        margin-bottom: 0.8rem;
      }
      .bodytext {
        letter-spacing: var(--ls-textbody);
      }
    }
    &__ratings {
      display: block;
      padding-top: 1rem;
      > * + * {
        margin-top: 1rem;
      }
      .rating {
        > * {
          display: inline-flex;
          flex-wrap: nowrap;
        }
        width: initial;
        padding: 1.2rem 1.75rem 1.25rem 2rem;
        margin-inline: auto 0;
        max-width: 27.75rem;
        display: flex;
        align-items: center;
        gap: 2rem;
        .stars {
          margin-bottom: 0;
        }
      }
    }
  }
  .cards {
    grid-auto-flow: column;
    grid-template-columns: repeat(3, minmax(12rem, 1fr));
  }
}

@media (min-width: 80em) {
  .rating:nth-child(1) {
    margin-right: 6em;
  }
  .rating:nth-child(2) {
    margin-right: 3em;
  }
  .cards {
    gap: 1.9rem;
  }
  .card {
    padding: 2.5rem 2rem 2.5rem;
    height: fit-content;
  }
  .card:nth-child(2) {
    margin-top: 1em;
  }
  .card:nth-child(3) {
    margin-top: 2em;
  }
}
