:root {
  --clr-neutral-900: hsl(183, 100%, 15%);
  --clr-neutral-800: hsl(186, 14%, 43%);
  --clr-neutral-700: hsl(184, 14%, 56%);
  --clr-neutral-300: hsl(185, 41%, 84%);
  --clr-neutral-100: hsl(189, 41%, 97%);

  --clr-cyan-900: hsl(183, 79%, 24%);
  --clr-cyan-500: hsl(172, 81%, 51%);
  --clr-cyan-400: hsl(172, 67%, 45%);
  --clr-cyan-300: hsl(173, 61%, 77%);

  --clr-white: hsl(0, 0%, 100%);
  --clr-red: hsl(0, 100%, 74%);

  --fs-100: 0.75rem; // 12pt
  --fs-200: 0.8125rem; // 13pt
  --fs-300: 0.875rem; // 14pt
  --fs-400: 0.9375rem; // 15pt
  --fs-500: 1rem; // 16pt
  --fs-600: 1.125rem; // 18pt
  --fs-700: 1.25rem; // 20pt
  --fs-800: 1.5rem; // 24pt
  --fs-900: 2rem; // 32pt

  --fs-body: var(--fs-500);
  --fs-p: var(--fs-300);
  --fs-h1: var(--fs-800);
  --fs-input: var(--fs-800);
  --fs-reset: var(--fs-700);
  --fs-total-span: var(--fs-200);
  --fs-value: var(--fs-900);
  // --fs-h1: clamp(1.25rem, calc(1.2060rem + 0.1878vw), 1.375rem);

  --fw-700: 700;

  --ff-primary: "Space Mono", "Courier New", Courier, monospace;

  --lh-none: 1;
  --lh-h1: 1;
  --lh-body: 1.5;
  --lh-footer: 1.2;

  --pad-header: 1rem;
  --pad-footer: 1rem 0.5rem 0.5rem;
  --pad-app: 1.5rem;
  --pad-calculate: 0.5rem;
  --pad-results: 2.3rem 1.5rem 1.5rem;

  --max-header: 86.9rem;
  --max-main: 80.35rem;

  --debug: 1px solid pink;
}

@media (min-width: 1080px) {
  :root {
    --fs-900: 3rem; // 24pt
    --ls-value: -1px;
    --pad-app: 2rem;
    --pad-calculate: 0.8rem 1rem 0.95rem;
    --pad-results: 2.5rem 2.5rem 2.5rem;
    --pad-footer: 4.9rem 0.5rem 1rem;
  }
}
// @media (min-width: 960px) {
//   :root {
//     --lh-content: 1.5;
//   }
// }

// CSS reset

/* Remove default margin */

*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: var(--lh-body);
}

/* A elements that don't have a class get default styles */

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* utility classes  */

.font-primary {
  font-family: var(--ff-primary);
}
.fs-100 {
  font-size: var(--fs-100);
}
.fs-200 {
  font-size: var(--fs-200);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-800 {
  font-size: var(--fs-800);
}

.fs-h1 {
  font-size: var(--fs-h1);
}
.fs-reset {
  font-size: var(--fs-reset);
}

.fw-light {
  font-weight: var(--fw-300);
}
.fw-regular {
  font-weight: var(--fw-400);
}
.fw-semibold {
  font-weight: var(--fw-600);
}
.text-uppercase {
  text-transform: uppercase;
}
.lh-none {
  line-height: var(--lh-none);
}
.lh-h1 {
  line-height: var(--lh-h1);
}
.lh-product-description {
  line-height: var(--lh-product-description);
}
.lh-footer {
  line-height: var(--lh-footer);
}

.bg-neutral-900 {
  background-color: var(--clr-neutral-900);
}
.bg-neutral-800 {
  background-color: var(--clr-neutral-800);
}
.bg-neutral-300 {
  background-color: var(--clr-neutral-300);
}
.bg-white {
  background-color: var(--clr-white);
}
.clr-white {
  color: var(--clr-white);
}

.clr-neutral-100 {
  color: var(--clr-neutral-100);
}
.clr-neutral-300 {
  color: var(--clr-neutral-300);
}
.clr-cyan-400 {
  color: var(--clr-cyan-400);
}
.clr-cyan-500 {
  color: var(--clr-cyan-500);
}
.clr-neutral-700 {
  color: var(--clr-neutral-700);
}
.clr-neutral-800 {
  color: var(--clr-neutral-800);
}
.clr-neutral-900 {
  color: var(--clr-neutral-900);
}

.pad-footer {
  padding: var(--pad-footer);
}
.pad-app {
  padding: var(--pad-app);
}
.pad-header {
  padding: var(--pad-header);
}
.pad-calculate {
  padding: var(--pad-calculate);
}
.pad-results {
  padding: var(--pad-results);
}

// Composition

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  line-height: var(--lh-body);
}

a {
  color: var(--clr-neutral-900);
  text-decoration: none;
  &:hover,
  &:active {
    color: var(--clr-neutral-700);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button:hover,
button:active,
[type="number"]:hover,
[type="number"]:active,
[type="number"]:focus {
  border: 0.2rem solid var(--clr-cyan-400);
  outline: 0;
  border-radius: 0.3rem;
}

[type="number"] {
  width: 100%;
  font-family: var(--ff-primary);
  background-color: var(--clr-neutral-100);
  color: var(--clr-neutral-900);
  font-size: var(--fs-input);
  border: 0.2rem solid var(--clr-neutral-100);
  margin: 0;
  padding: 0.18rem 0.8rem 0.18rem 0;
  text-align: right;
  border-radius: 0.3rem;
  cursor: pointer;
  -moz-appearance: textfield;
}

[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  width: 100%;
  background-color: inherit;
  background-size: contain;
  border: 0;
  margin: 0;
  outline: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.radiobtn {
  [type="radio"] {
    & + label {
      font-size: var(--fs-input);
      text-align: center;
      display: inline-block;
      width: 100%;
      cursor: pointer;
      background-color: var(--clr-neutral-900);
      padding: 0.2rem 1rem;
      border-radius: 0.3rem;
      color: var(--clr-neutral-100);
      border: 0.2rem solid var(--clr-neutral-900);
      &:hover {
        background-color: var(--clr-neutral-300);
        border: 0.2rem solid var(--clr-neutral-300);
        color: var(--clr-neutral-900);
      }
    }
    &:checked + label {
      background-color: var(--clr-cyan-400);
      color: var(--clr-neutral-900);
      outline: 0;
      border: 0.2rem solid var(--clr-cyan-400);
    }
    &:focus + label {
      outline: 0.2rem solid var(--clr-cyan-300);
    }
  }
}

.reset button
// .radiobtn [type="radio"]:checked + label
{
  background-color: var(--clr-cyan-400);
  color: var(--clr-neutral-900);
  outline: 0;
  border: 0.2rem solid var(--clr-cyan-400);
}

[type="text"]::placeholder {
  color: var(--clr-neutral-700);
}

.tip-custom [type="text"]::placeholder {
  color: var(--clr-neutral-800);
}

// need to clean this section

.tip-custom {
  height: fit-content;
  position: relative;

  [type="radio"]:checked ~ label [type="number"],
  [type="radio"]:focus ~ label [type="number"]:focus {
    border: 0.2rem solid var(--clr-cyan-400);
    outline: 0;
    border-radius: 0.3rem;
    background-color: var(--clr-cyan-300);
  }
  [type="radio"]:focus ~ label > [type="number"]:not(:focus) {
    border: 0.2rem solid var(--clr-cyan-400);
    outline: 0;
    border-radius: 0.3rem;
  }
  [type="number"] {
    width: 100%;
    &::placeholder {
      color: var(--clr-neutral-900);
    }
  }
}

fieldset {
  border: 0;
}
fieldset[data-tab="true"]:focus-within {
  outline: 0.2rem solid var(--clr-cyan-400);
  border-radius: 0.3rem;
}

.wrapper {
  margin-inline: auto;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.component {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: grid;
  place-content: center;
  align-items: stretch;
  padding-top: 0.6rem;
  height: 9rem;
}

.app {
  flex: 1;
  align-self: end;
  margin-inline: auto;
  min-width: 360px;
  border-radius: 1.5rem 1.5rem 0 0;

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(19.5rem, 1fr));
    gap: 1.5rem;
  }
}

.calculate {
  display: grid;
  gap: 1rem;

  > div {
    .input-area {
      position: relative;
      ::after {
        content: "";
        width: 2rem;
        height: 1rem;
        position: absolute;
        left: 1.2rem;
        top: 2.85rem;
        z-index: 5;
      }
    }
  }
  &__bill {
    input {
      margin-top: 0.4rem;
    }
    .input-area {
      position: relative;
      ::after {
        content: "";
        background-image: url("./images/icon-dollar.svg");
        background-repeat: no-repeat;
      }
    }
  }
  &__tip {
    .title {
      margin-bottom: 1rem;
    }
    .options {
      line-height: 1.48;
      display: grid;
      grid-auto-flow: row;
      grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
      gap: 1rem;
    }
  }
  &__people {
    position: relative;
    .input-area {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      position: relative;
      label {
        order: 1;
        flex: 1 1 55%;
      }
      span.message {
        display: none;
        text-align: right;
        color: var(--clr-red);
        order: 2;
        flex: 1 1 45%;
      }
      input {
        order: 3;
        flex: 1 0 100%;
        margin-top: 0.4rem;
        &:invalid {
          border: 0.2rem solid var(--clr-red);
          & ~ span.message {
            display: block;
          }
        }
      }
      ::after {
        content: "";
        background-image: url("./images/icon-person.svg");
        background-repeat: no-repeat;
      }
    }
  }
}

.results {
  border-radius: 1rem;
  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    justify-content: flex-start;
  }
  .result {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .title {
    color: var(--clr-white);
    span {
      color: var(--clr-neutral-700);
      display: block;
      font-size: var(--fs-total-span);
    }
  }
  .value {
    color: var(--clr-cyan-400);
    font-size: var(--fs-value);
    letter-spacing: var(--ls-value);
  }
  button.reset {
    margin-top: 0.75rem;
    width: 100%;
    padding: 0.5rem 0 0.25rem;
    border-radius: 0.3rem;
    cursor: pointer;
    align-self: flex-end;
    background-color: var(--clr-cyan-300);
    border: 0.2rem solid var(--clr-cyan-300);
    color: var(--clr-neutral-900);

    &:active,
    &:focus,
    &:hover {
      outline: 0;
      border: 0.2rem solid var(--clr-cyan-400);
    }
    &:disabled {
      background-color: var(--clr-cyan-900);
      border: 0.2rem solid var(--clr-cyan-900);
      outline: 0;
    }
  }
}

.footer {
  flex: 0;
  background-color: var(--clr-white);
  align-self: flex-end;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin-inline: auto;
  &__content {
    align-self: flex-end;
  }
  span {
    display: inline-block;
  }
}

@media (min-width: 428px) {
  .app {
    border-radius: 1.5rem;
    box-shadow: 0px 10px 30px 5px hsla(186, 39%, 55%, 0.3);
  }
  .footer {
    background-color: transparent;
    span.after::after {
      content: "";
    }
  }
}

@media (min-width: 720px) {
  .component {
    justify-content: center;
    gap: clamp(2rem, calc(-0.9rem + 4.8333vw), 3.45rem);
    padding: max(12.8vh, 2rem) 0;
    margin-inline: auto;
  }
  .header {
    padding: 1rem;
    height: fit-content;
    margin-bottom: 0;
  }
  .app {
    flex: 0;
    align-self: flex-start;
    width: clamp(35rem, calc(-185.5rem + 360vw), 57.5rem);
    &__container {
      gap: 2rem;
    }
  }
  .calculate {
    gap: 0.8rem;
    .options {
      grid-template-columns: repeat(auto-fill, minmax(7.31rem, 1fr));
      gap: 1rem 0.9rem;
    }
    .people {
      input:invalid {
        & ~ span.message {
          width: 8rem;
          top: 0.8rem;
          right: 1rem;
        }
      }
    }
  }
  .results {
    &__container {
      gap: 1.5rem;
    }
    .title {
      padding-top: 0.3rem;
    }
    button.reset {
      margin-top: auto;
    }
  }
}
