:root {
  --clr-neutral-100: 0, 0%, 100%;
  --clr-neutral-400: 240, 18%, 77%;
  --clr-neutral-700: 240, 38%, 20%;
  --fs-100: 0.75rem;
  --fs-200: 0.875rem;
  --fs-300: 0.9375rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-700: 1.5rem;
  --fs-800: 1.75rem;
  --fs-900: 2rem;
  --fs-body: var(--fs-400);
  --fs-content: clamp(1.125rem, calc(0.8169rem + 1.3146vw), 2rem);
  --fs-profile: var(--fs-300);
  --fs-small: var(--fs-200);
  --fw-light: 300;
  --fw-med: 500;
  --fw-bold: 700;
  --ff-primary: "Inter", "Segoe UI", Tahoma, Geneva;
  --lh-content: 1.35;
  --pad-wide: 4rem;
  --w-image: min(100%, 33.5rem);
  --w-text: min(100%, 33.5rem);
  --debug: 1px magenta solid;
}

@media (min-width: 60em) {
  :root {
    --ls-content: 0.1px;
    --lh-content: 1.375;
    --fs-profile: var(--fs-600);
    --w-text: clamp(28rem, calc(4.6rem + 39vw), 39.7rem);
  }
}
/* Remove default margin */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol,
li {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html,
body {
  height: 100%;
}

html {
  height: -webkit-fill-available;
  min-height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: var(--lh-body);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
button {
  background: inherit;
  border: 0;
  outline: 0;
  color: inherit;
}

.wrapper {
  margin-inline: auto;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

button {
  cursor: pointer;
  outline: none;
}

a:hover {
  opacity: 0.8;
}

a:focus {
  outline: hsl(var(--clr-neutral-700)) 0.2em solid;
}

body {
  font-size: var(--fs-body);
  color: hsl(var(--clr-neutral-700));
  font-family: var(--ff-primary);
  display: flex;
  flex-direction: column;
  background-color: transparent;
  position: relative;
  min-height: 100vh;
  align-items: center;
  justify-content: flex-start;
}

.container {
  width: min(100%, 40em);
  margin-inline: auto;
  margin-block: 1.5rem;
  flex: 1;
}

.component * {
  margin-inline: auto;
}

.slider-group {
  position: relative;
  width: min(88.5vw, var(--w-image));
  display: grid;
  place-content: center;
}
.slider-group > * {
  margin-inline: auto;
}

.slider-container {
  position: relative;
  width: min(76%, var(--w-image));
  margin-block: min(8vw, 3rem);
  display: grid;
  grid-template-columns: var(--w-image);
  place-content: center;
  box-shadow: 0em 1.5rem 2rem hsla(var(--clr-neutral-700), 0.2);
  background-color: transparent;
  border-radius: 0.25rem;
}

.slider-frame {
  width: 100%;
  border-radius: 0.25rem;
  overflow: hidden;
}

.slider-container .images {
  transform-style: preserve-3d;
  display: grid;
  grid-template-columns: repeat(2, var(--w-image));
  transform: translateX(0);
  transition: transform 0.35s ease-in-out;
}

.slider-container img {
  -o-object-fit: cover;
     object-fit: cover;
  width: var(--w-image);
}

.slider-arrows {
  display: flex;
  justify-content: space-between;
  width: 5rem;
  padding: 0;
  position: absolute;
  left: 50%;
  bottom: -1rem;
  -webkit-margin-start: -2.5rem;
          margin-inline-start: -2.5rem;
  background-color: hsl(var(--clr-neutral-100));
  border-radius: 100vmax;
  z-index: 1;
}
.slider-arrows button {
  padding: 0.65rem 0.8rem;
  border: 0.2rem solid hsl(var(--clr-neutral-100));
}
.slider-arrows button:hover .arrow {
  opacity: 0.7;
}
.slider-arrows button:focus {
  border: 0.2rem solid hsl(var(--clr-neutral-700));
}

.prev-arrow {
  border-radius: 100vmax 0 0 100vmax;
}

.next-arrow {
  border-radius: 0 100vmax 100vmax 0;
}

.slider-arrows span.arrow svg {
  display: block;
  height: 0.75rem;
}
.slider-arrows span.arrow svg path {
  stroke-width: 4.5;
}

.text-group {
  width: min(86%, var(--w-text));
  position: relative;
}

.text-container {
  display: grid;
  grid-template-columns: var(--w-text);
  width: min(100%, var(--w-text));
}

.text-frame {
  width: 100%;
  overflow: hidden;
}

.text {
  transform-style: preserve-3d;
  display: grid;
  grid-template-columns: repeat(2, var(--w-text));
  transform: translateX(0);
  transition: transform 0.35s ease-in-out;
  font-size: var(--fs-content);
  font-weight: var(--fw-light);
  line-height: var(--lh-content);
  text-align: center;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  transition: transform 0.35s ease-in-out 0.1s;
}
.text-name, .text-title {
  font-size: var(--fs-profile);
}
.text-textbody {
  margin-bottom: 1.1rem;
}
.text-name {
  font-weight: var(--fw-bold);
}
.text-title {
  color: hsl(var(--clr-neutral-400));
  font-weight: var(--fw-med);
}

.footer {
  position: relative;
  display: flex;
  width: 100%;
  padding: 0.5rem;
  background-color: transparent;
  font-size: var(--fs-small);
}
.footer__attribution {
  align-self: flex-end;
  text-align: center;
  width: 100%;
  height: 100%;
}
.footer__attribution span {
  display: inline-block;
}

.slider-group {
  margin-block: 0 3.25rem;
  background-image: url("./images/pattern-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.text-group::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -1.5rem;
  left: 50%;
  margin-left: -30px;
  width: 60px;
  height: 50px;
  opacity: 0.8;
  background-image: url("./images/pattern-quotes.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.footer::after {
  content: "";
  position: absolute;
  z-index: -10;
  width: clamp(19.0625rem, 12.3504rem + 28.6385vw, 38.125rem);
  min-height: 100vh;
  bottom: 0;
  left: 0;
  background-color: transparent;
  background-image: url("./images/pattern-curve.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left 0 bottom -1rem;
}

@media (min-width: 60em) {
  body::after {
    content: "";
    width: 50%;
    margin-left: -50%;
    background-position: left 0 bottom -2rem;
  }
  .text-group::after {
    content: "";
    top: -10.3125rem;
    left: 13.6rem;
    width: 120px;
    height: 100px;
    background-position: top 0rem right 0;
  }
  .footer::after {
    background-position: left 0 bottom 0rem;
  }
}
@media (min-width: 60em) {
  .container {
    width: min(100% - 3rem, 81em);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-block: 3rem 0;
  }
  .component {
    display: flex;
    align-items: center;
  }
  .slider-group {
    margin-block: 0;
    flex: 1 1 100%;
  }
  .slider-container {
    width: min(80%, var(--w-image));
    margin-block: 4.25rem;
    margin-inline: min(10%, 4rem);
    box-shadow: 0rem 1rem 1rem hsla(var(--clr-neutral-700), 0.15);
  }
  .slider-arrows {
    width: 7rem;
    padding: 0;
    left: 6rem;
    bottom: -1.8rem;
    box-shadow: 1rem 0.75rem 1.5rem hsla(var(--clr-neutral-700), 0.15);
  }
  .slider-arrows button {
    padding: 1rem 1.1rem;
  }
  .slider-arrows button:hover .arrow {
    opacity: 0.7;
  }
  .slider-arrows span.arrow svg {
    height: 100%;
  }
  .slider-arrows span.arrow svg path {
    stroke-width: 3;
  }
  .text-container {
    width: min(80%, var(--w-text));
  }
  .text-group {
    position: relative;
    padding-inline: 5.8rem;
    order: -1;
    margin: 0;
  }
  .text-frame {
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: -6.3125rem;
    width: clamp(28rem, 4.6rem + 39vw, 39.7rem);
    z-index: 10;
  }
  .text-container .text {
    text-align: left;
    letter-spacing: var(--ls-content);
  }
  .text-container .text * {
    display: inline-block;
  }
  .text-container .text-name {
    -webkit-margin-end: 0.5rem;
            margin-inline-end: 0.5rem;
  }
  .text-container .text-textbody {
    margin-bottom: 1.5rem;
  }
  .footer {
    margin-block: 4rem 0rem;
  }
}/*# sourceMappingURL=stylesheet.css.map */