:root {
  // footer --clr-cyan-darkmod: 
  --clr-pmr-300: hsl(168, 34%, 41%);
   //graphic design text --clr-cyan-darkds 
  --clr-pmr-400: hsl(167, 40%, 24%);
  // photography text --clr-blue-dark
  --clr-pmr-900: hsl(198, 62%, 26%);
  
   // neutral
  --clr-neut-100: hsl(210, 4%, 67%);
  --clr-neut-200: hsl(232, 10%, 55%);
  --clr-neut-400: hsl(213, 9%, 39%);
  --clr-neut-700: hsl(212, 27%, 19%);

  --clr-white: hsl(0, 0%, 100%);
  --clr-red: hsl(7, 99%, 70%);
  --clr-yellow: hsl(51, 100%, 49%);

  --ff-primary: 'Barlow', sans-serif;
  --ff-secondary: 'Fraunces', serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-secondary);

  --fw-600: 600;
  --fw-700: 700;
  --fw-900: 900;

  --fs-100: 0.8125rem;
  --fs-200: 0.875rem;
  --fs-300: 0.9375rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.875rem;
  --fs-700: 2.5rem;
  --fs-800: 2.8rem;
  --fs-900: 3.5rem;

  --fs-body: var(--fs-500);
  --fs-h1: var(--fs-900);
  --fs-nav: var(--fs-200);

  --lh-body: 1.5;
  --lh-p: 1.5;
  --lh-quote: 1.42;

  --ls-body: 0px;
  --ls-h1: 0.34em;

  --pad-hor: 0.9em;
  --pad-top: 6.7em;
  --pad-bottom: 5px;
}

@media (min-width: 50em) {
  :root {
    --fs-body: 18px;
    --fs-p: 1rem;
    --fs-h1: 0.7rem;
    --fs-quote: 1.52rem;
    --fs-xsmall: 0.6rem;
    
    --lh-body: 1.5;
    --lh-p: 1.5;
    --lh-quote: 1.38;

    --ls-body: 0px;
    --ls-h1: 0.34em;    
    --pad-hor: 2em;
    --pad-top: 12.45em;
    --pad-bottom: 5px;
  }
}

/* Remove default margin */

*, 
*::before, 
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */

html, body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


html,
body {
  font-size: var(--fs-body);
}

img {
  width: 100%;
}

button {
  font-family: inherit;
}

button,
button:focus {
  border: 0;
  outline: 0;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  font-weight: 800;
  color: var(--clr-cyan-light);
  background: var(--clr-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: var(--pad-top) var(--pad-hor) var(--pad-bottom);
}


/* Structure */

.component {
  background-color: var(--clr-blue-darkgrayish);
  min-width: 18em;
  padding: 2.2em 0.9em 3.55em;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 0.6em;
  position: relative;
}

.advice {
  &__title {
    margin-bottom: 2.2em;    
  }
  &__quote {
    margin-bottom: 0.95em;    
  }
  &__dice {
    background-color: var(--clr-green-neon);
    width: 3.5em;
    position: absolute;
    bottom: -1.65em;
    left: 50%;
    margin-left: -1.75em;
    border-radius: 50%;
    padding: 1.05em;
    cursor: pointer;
    &:hover {
      box-shadow: 0em 0em 1.4em var(--clr-green-neon);
    }
  }
}

.border {
  &__divider {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 1em;
    background-image: url('./images/pattern-divider-mobile.svg');
  }
}

.footer {
  display: flex;
  width: 100%;
  flex: 1;
  padding: 3.25em 0 0.5em;
  &__attribution {
    align-self: flex-end;
    text-align: center;
    width: 100%;
    height: 100%;
    &-content {
      margin: 0 auto;
    }
  }
}

// Utils

.block-footer {
  display: block;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

// media queries

@media (min-width: 780px) {
  .component {
    width: 30em;
    padding: 2.65em 2.4em 3.95em;
  }

  .advice {
    &__title {
      margin-bottom: 1.9em;    
    }
    &__quote {
      margin-bottom: 1.44em;    
    }
    &__dice {
      background-color: var(--clr-green-neon);
      width: 3.55em;
      position: absolute;
      bottom: -1.75em;
      left: 50%;
      margin-left: -1.85em;
      border-radius: 50%;
      padding: 1.12em;
      cursor: pointer;
      &:hover {
        box-shadow: 0em 0em 1.4em var(--clr-green-neon);
      }
    }
  }
  
  .border {
    &__divider {
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      height: 1em;
      background-image: url('./images/pattern-divider-desktop.svg');
    }
  }
  
  .footer {
    padding: 4.25em 0 0.5em;
  }
  .block-footer {
    display: inline-block;
  }
}
