:root {
  --clr-primary-300: hsl(167, 44%, 70%);
  --clr-primary-400: hsl(168, 34%, 41%);
  --clr-primary-500: hsl(166, 46%, 31%);

  --clr-neutral-100: hsl(210, 4%, 67%);
  --clr-neutral-200: hsl(232, 10%, 55%);
  --clr-neutral-400: hsl(213, 9%, 39%); // body
  --clr-neutral-700: hsl(212, 27%, 19%); // primary heading

  --clr-white: hsl(0, 0%, 100%);
  --clr-red: hsl(7, 99%, 70%);
  --clr-yellow: hsl(51, 100%, 49%);
  --clr-blue: hsl(200, 100%, 62%);
  --clr-cyan-darkds: hsl(167, 40%, 24%);
  --clr-blue-dark: hsl(198, 62%, 26%);

  --ff-primary: "Barlow", sans-serif;
  --ff-secondary: "Fraunces", serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-secondary);

  --fw-600: 600;
  --fw-700: 700;
  --fw-900: 900;

  --fs-body: 1.125rem;
  --fs-h1: 2.5rem;
  --fs-heading-intro: clamp(2rem, calc(1.8239rem + 0.7512vw), 2.5rem);
  --fs-heading-services: 1.74rem;
  --fs-heading-testimonials: clamp(
    1.025rem,
    calc(0.937rem + 0.3756vw),
    1.275rem
  );

  --fs-intro: 1.13rem;
  --fs-services: 1.025rem;
  --fs-testimonials: 1.13rem;
  --fs-testimonials-job: 0.875rem;
  --fs-nav-header: 1.215rem;
  --fs-nav-footer: 1.13rem;
  --fs-attribution: 0.8rem;
  --fs-button-primary: 1.025rem;

  --lh-body: 1.65;
  --lh-heading-intro: 1.21;
  --lh-services: 1.65;
  --lh-testimonials: 1.78;
  --lh-nav: 2.12;

  --ls-body: 0;
  --ls-h1: 0.445rem;
  --ls-heading-testimonials: 0.3rem;
  --ls-heading-services: 0.015rem;
  --ls-button-secondary: 0.05rem;
  --ls-services: -0.018rem;

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.95rem;
  --size-400: 1rem;
  --size-500: 1.5rem;
  --size-600: 2rem;
  --size-700: 3rem;
  --size-800: 4rem;
  --size-900: 5rem;

  --pad-header: var(--size-500);

  --max-main: 85rem;
  --max-testimonials: 85rem;
}

@media (min-width: 750px) {
  :root {
    --fs-h1: 3.36rem;
    --fs-nav-header: 1.13rem;
    --fs-button-primary: 1.025rem;
    --fs-button-secondary: 1rem;

    --ls-h1: 0.68rem;
    --ls-button-primary: -0.035rem;
    --ls-button-secondary: 0.015rem;
    --ls-nav: -0.017rem;
    --ls-intro: -0.01rem;
    --ls-testimonials: -0.01rem;

    --lh-nav: 1.7;
    --lh-heading-intro: 1.22;

    --max-testimonials: 73.3rem;
  }
}

// CSS reset

/* Remove default margin */

*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* utility classes  */

.bg-light {
  background-color: var(--clr-white);
}
.bg-primary-300 {
  background-color: var(--clr-primary-300);
}
.bg-blue {
  background-color: var(--clr-blue);
}

.clr-primary-400 {
  color: var(--clr-primary-400);
}
.clr-primary-500 {
  color: var(--clr-primary-500);
}

.clr-neutral-100 {
  color: var(--clr-neutral-100);
}
.clr-neutral-200 {
  color: var(--clr-neutral-200);
}
.clr-neutral-400 {
  color: var(--clr-neutral-400);
}
.clr-neutral-700 {
  color: var(--clr-neutral-700);
}

.clr-white {
  color: var(--clr-white);
}
.clr-red {
  color: var(--clr-red);
}
.clr-blue {
  color: var(--clr-blue);
}
.clr-yellow {
  color: var(--clr-yellow);
}
.clr-graphic {
  color: var(--clr-cyan-darkds);
}
.clr-photography {
  color: var(--clr-blue-dark);
}

.font-primary {
  font-family: var(--ff-primary);
}
.font-secondary {
  font-family: var(--ff-secondary);
}

.fw-semibold {
  font-weight: var(--fw-600);
}
.fw-bold {
  font-weight: var(--fw-700);
}
.fw-black {
  font-weight: var(--fw-900);
}

.heading-primary {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-900);
}
.heading-secondary {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-900);
  text-transform: uppercase;
}

.heading-small {
  font-family: var(--ff-secondary);
  font-size: var(--fs-heading-small);
  line-height: 1.1;
}

.fs-body {
  font-size: var(--fs-body);
}
.fs-h1 {
  font-size: var(--fs-h1);
}
.fs-heading-testimonials {
  font-size: var(--fs-heading-testimonials);
}
.fs-heading-intro {
  font-size: var(--fs-heading-intro);
}
.fs-heading-services {
  font-size: var(--fs-heading-services);
}
.fs-intro {
  font-size: var(--fs-intro);
}
.fs-services {
  font-size: var(--fs-services);
}
.fs-testimonials {
  font-size: var(--fs-testimonials);
}
.fs-testimonials-job {
  font-size: var(--fs-testimonials-job);
}
.fs-nav-header {
  font-size: var(--fs-nav-header);
}
.fs-nav-footer {
  font-size: var(--fs-nav-footer);
}
.fs-attribution {
  font-size: var(--fs-attribution);
}

.gap-top-300 {
  margin-top: 0.8rem;
}

.gap-top-400 {
  margin-top: 1rem;
}

.gap-top-500 {
  margin-top: 1.33rem;
}

.gap-top-600 {
  margin-top: 1.77rem;
}

.gap-top-700 {
  margin-top: 2.4rem;
}

.pad-top-300 {
  padding-top: 0.8rem;
}

.pad-top-400 {
  padding-top: 1rem;
}

.pad-top-500 {
  padding-top: 1.33rem;
}

.pad-top-600 {
  padding-top: 1.77rem;
}

.pad-top-700 {
  padding-top: 2.4rem;
}

.max-main {
  max-width: var(--max-main);
}

.max-testimonials {
  max-width: var(--max-testimonials);
}

.padding-block-400 {
  padding-block: var(--size-400);
}
.padding-block-500 {
  padding-block: var(--size-500);
}
.padding-block-700 {
  padding-block: var(--size-700);
}
.padding-block-900 {
  padding-block: var(--size-900);
}

.list-style-none {
  list-style: none;
}

// Composition 

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

.radius,
.button {
  border-radius: 2.5rem;
}

.columns-three {
  // max-width: 30em;
  > * + * {
    margin-top: 2rem;
  }
}

@media (min-width: 750px) {
  .columns-two {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    > * {
      flex-grow: 1;
    }
  }
}

@media (min-width: 980px) {
  .columns-three {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    gap: 2rem;
    > * {
      flex-grow: 1;
      margin-top: 1rem;
      min-width: 15rem;
    }
  }
}

.wrapper {
  margin-inline: auto;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

body {
  font-size: var(--fs-body);
  line-height: var(--lh-body);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

:focus {
  outline: 2px dotted;
  outline-offset: 0.25rem;
}

nav {
  a {
    text-decoration: none;
    &:hover {
      opacity: 0.7;
    }
  }
}

.button {
  cursor: pointer;
  font-family: var(--ff-secondary);
  font-size: var(--fs-button-primary);
  color: var(--clr-neutral-700);
  display: inline-block;
  line-height: 1;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  background: hsl(51, 100%, 49%);
  padding: 1.25rem 1.5rem;
  font-weight: var(--fw-700);
  &:focus {
    outline-offset: -0.4rem;
    outline: 1px solid;
  }
  &:hover {
    background: hsla(51, 100%, 49%, 0.7);
  }
}

.button[data-variant="secondary"] {
  border-color: currentColor;
  background: transparent;
  font-weight: var(--fw-900);
  padding: 0;
  position: relative;
  letter-spacing: var(--ls-button-secondary);
  &::after {
    content: "";
    z-index: -1;
    display: block;
    bottom: 0.3em;
    margin-left: -6%;
    position: relative;
    width: 112%;
    height: 0.6rem;
    border-radius: 0.3rem;
    opacity: 0.25;
    // background:hsla(51, 100%, 49%, 0.25);
  }
  &.transform::after {
    background: var(--clr-yellow);
  }
  &.standout::after {
    background: var(--clr-red);
  }
  &:hover {
    background: inherit;
    &::after {
      opacity: 0.85;
    }
  }
}

@media (min-width: 750px) {
  .button {
    background: var(--clr-white);
    padding: 1.25rem 1.9rem;
    font-weight: var(--fw-700);
    letter-spacing: var(--ls-button-primary);
    font-size: var(--fs-button-secondary);
    &:focus {
      outline-offset: -0.4rem;
      outline: 1px solid;
    }
    &:hover {
      background: hsla(0, 0%, 100%, 0.8);
    }
  }
  .button[data-variant="secondary"] {
    margin-left: 0.5rem;
  }
}

.nav-header {
  align-items: flex-end;
  position: relative;
  .nav {
    &__inner {
      display: none;
      background-color: var(--clr-white);
      position: absolute;
      right: 0;
      top: 4.7rem;
      width: calc(100vw - (var(--pad-header) * 2));
      height: 19.1rem;
      &.open {
        display: block;
      }
      &:before {
        content: "";
        margin-left: auto;
        position: relative;
        top: -1.5rem;
        border-width: 0 0 1.5rem 1.5rem;
        border-style: solid;
        border-color: var(--clr-white) transparent;
        display: block;
        width: 0;
      }
    }
    &__items {
      width: 100%;
      padding-top: 0.5rem;
      &-link {
        line-height: var(--lh-nav);
        margin-bottom: 1rem;
      }
      a {
        color: var(--clr-neutral-200);
      }
      &-cta {
        margin-top: 1.4rem;
      }
    }
    &__button {
      cursor: pointer;
      background: none;
      opacity: 1;
      border: 0;
      &.open {
        opacity: 0.6;
      }
    }
  }
}

.nav-footer {
  width: 16rem;
  margin-bottom: 5.3rem;
  .nav {
    &__items {
      display: flex;
      justify-content: space-between;
      a {
        color: var(--clr-primary-400);
        &:hover {
          color: var(--clr-white);
        }
      }
    }
  }
}

@media (min-width: 750px) {
  .nav-header {
    .nav {
      &__inner {
        display: block;
        background-color: transparent;
        position: relative;
        top: 0;
        width: 29.2rem;
        margin-right: 0.5rem;
        height: fit-content;
        &:before {
          content: "";
          border: 0;
        }
      }
      &__items {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-top: 0.5rem;
        &-link {
          line-height: var(--lh-nav);
          letter-spacing: var(--ls-nav);
          margin: auto 0;
          padding-top: 0.1rem;
        }
        a {
          color: var(--clr-white);
        }
        &-cta {
          margin: 0;
        }
      }
      &__button {
        display: none;
      }
    }
  }
  .nav-footer {
    width: 18.6rem;
    margin-bottom: 5.3rem;
  }
}

/* Blocks */

.header {
  background-image: url("./images/mobile/image-header.jpg");
  background-size: cover;
  background-position: bottom center;
  align-items: center;
  padding: 0 var(--pad-header);
  &__container {
    width: 100%;
    padding-top: 1.8rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

.hero {
  height: 24.6rem;
  &__title {
    line-height: 1.22;
    letter-spacing: var(--ls-h1);
    margin: 5.35rem 0 3.1rem;
  }
  &__arrow {
    width: fit-content;
    margin: 0 auto;
  }
}

.logo {
  width: 7.8rem;
  img {
    width: 100%;
  }
}

.intro {
  &__image {
    height: 19.5rem;
    background-size: cover;
    background-position: center;
    &.transform {
      background-image: url("./images/mobile/image-transform.jpg");
    }
    &.standout {
      background-image: url("./images/mobile/image-stand-out.jpg");
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
    padding: 4rem 0 3.65rem;
    width: clamp(21rem, calc(14rem + 29.8667vw), 30rem);
    h2 {
      padding-bottom: 1.55rem;
      line-height: var(--lh-heading-intro);
    }
    button {
      margin-top: 2.25rem;
      align-self: center;
    }
  }
}

.service {
  width: 100%;
  padding-inline: 1rem;
  height: 37.5rem;
  background-position: top;
  background-size: cover;
  &.graphic {
    background-image: url("./images/mobile/image-graphic-design.jpg");
  }
  &.photography {
    background-image: url("./images/mobile/image-photography.jpg");
  }
  &__content {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    padding-top: 24.45rem;
    max-width: 20em;
    h2 {
      padding-bottom: 1.35rem;
      text-transform: capitalize;
    }
    p {
      line-height: var(--lh-services);
      letter-spacing: var(--ls-services);
    }
  }
}

.testimonials {
  padding: 3.75rem 1.5rem 3.4rem;
  width: 100%;
  &__title {
    margin-bottom: 3.75rem;
    letter-spacing: var(--ls-heading-testimonials);
  }
}

.testimonial {
  margin-inline: auto;
  padding: 0 0 2rem;
  max-width: 30em;
  line-height: var(--lh-testimonials);
  * {
    margin: 0 auto;
  }
  &__avatar {
    width: 4.5rem;
    margin-bottom: 2rem;
    img {
      border-radius: 50%;
    }
  }
  &__body {
    margin-bottom: 1.7rem;
  }
  &__person {
    h3 {
      font-family: var(--ff-secondary);
      font-weight: var(--fw-900);
      color: var(--clr-neutral-700);
      margin-bottom: 0.2rem;
    }
    h4 {
      font-family: var(--ff-primary);
      font-weight: var(--fw-700);
      color: var(--clr-neutral-100);
      font-size: var(--fs-testimonials-job);
    }
  }
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 1;
  padding: 4rem 2.4rem 0.5rem;
  &__logo {
    width: 10.5rem;
    margin-bottom: 2.4rem;
    svg {
      width: 100%;
      height: auto;
    }
    path {
      fill: var(--clr-primary-500);
    }
  }
  &__social {
    width: 10.5rem;
    padding-right: 0.2rem;
    margin-bottom: 1.85rem;
    ul {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1.72rem;
      li {
        margin: auto;
      }
    }
    &-icon {
      display: block;
      svg {
        fill: var(--clr-primary-500);
      }
      &:hover svg {
        fill: var(--clr-white);
      }
    }
  }
  &__attribution {
    flex: 1;
    display: flex;
    text-align: center;
    width: 100%;
    height: 100%;
    a {
      color: var(--clr-primary-500);
      &:hover {
        opacity: 0.8;
      }
    }
    &-content {
      margin: 0 auto;
      align-self: flex-end;
      .block-footer {
        display: block;
      }
    }

  }
}

@media (min-width: 450px) {
  .service {
    &.graphic {
      background-image: url("./images/desktop/image-graphic-design.jpg");
    }
    &.photography {
      background-image: url("./images/desktop/image-photography.jpg");
    }
  }
  .intro {
    &__image {
      height: 25rem;
    }
  }
}

@media (min-width: 750px) {
  .header {
    background-image: url("./images/desktop/image-header.jpg");
    &__container {
      padding-top: 1.6rem;
    }
  }

  .hero {
    height: 37.7rem;
    &__title {
      line-height: 1.22;
      margin: 6.75rem 0 5.85rem;
      word-spacing: -0.1rem;
    }
    &__arrow {
      width: fit-content;
    }
  }

  .logo {
    margin-top: 0.6rem;
    width: 10.6rem;
  }
  .intro {
    &__image {
      height: 37.5rem;
      &.transform {
        order: 1;
        background-image: url("./images/desktop/image-transform.jpg");
      }
      &.standout {
        background-image: url("./images/desktop/image-stand-out.jpg");
      }
    }
    &__content {
      text-align: left;
      padding: 0;
      width: clamp(18rem, calc(5.4348rem + 28.4058vw), 31rem);
      margin-inline: auto;
      margin-top: 0.4rem;
      h2 {
        padding-bottom: 2.05rem;
        line-height: var(--lh-heading-intro);
      }
      p {
        letter-spacing: var(--ls-intro);
      }
      button {
        margin-top: 2.75rem;
        align-self: flex-start;
      }
    }
  }
  .service {
    &__content {
      padding-top: 24.5rem;
      h2 {
        padding-bottom: 1.4rem;
        letter-spacing: var(--ls-heading-services);
      }
      p {
        line-height: var(--lh-services);
        letter-spacing: var(--ls-services);
      }
    }
  }
  .footer {
    padding: 3.9rem 2.4rem 0.5rem;
    &__logo {
      margin-bottom: 2.45rem;
      margin-right: 0.8rem;
    }
    &__social {
      margin-bottom: 2.2rem;
    }
    &__attribution {
      &-content {
        .block-footer {
          display: inline-block;
        }
      }      
    }
  }
}

@media (min-width: 980px) {
  .testimonials {
    padding: 9.7rem 2rem 8rem;
    &__title {
      margin-bottom: 3.78rem;
    }
  }

  .testimonial {
    line-height: var(--lh-testimonials);
    * {
      margin: 0 auto;
    }
    &__avatar {
      margin-bottom: 3.65rem;
    }
    &__body {
      margin-bottom: 4rem;
      letter-spacing: var(--ls-testimonials);
    }
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1400px) {
  .intro {
    &__content {
      &.transform {
        padding-left: 3.3rem;
      }
      &.standout {
        width: clamp(18rem, calc(5.4348rem + 28.4058vw), 31rem);
        padding-right: 3.3rem;
      }
    }
  }
}
// media queries
