:root {
  --clr-orange: hsl(25, 97%, 53%);
  --clr-grey-light: hsl(217, 12%, 63%);
  --clr-grey-medium: hsl(216, 12%, 54%);
  --clr-blue-meddark: hsl(215, 20%, 17%);
  --clr-blue-dark: hsl(215, 27%, 12%);
  --clr-blue-medium: hsl(213, 18%, 21%);
  --clr-blue-medlight: hsl(210, 19%, 18%);
  --clr-blue-xdark: hsl(228, 11%, 9%);
  --clr-white: hsl(0, 0%, 100%);
  --fs-title-rating: 23.8px;
  --fs-title-ty: 24px;
  --fs-body: 14.6px;
  --fs-score: 13.5px;
  --fs-cta: 14px;
  --fs-small: 14px;
  --fs-xsmall: 10px;
  --lh-body: 1.5;
  --lh-title: 1.7;
  --lh-cta: 1.15;
  --ls-title: 0.4px;
  --ls-body-rating: -0.28px;
  --ls-body-ty: -0.28px;
  --ls-cta: 2px;
  --pad-hor: 24px;
  --pad-ver-s: 35px;
  --ff-primary: "Overpass", Arial, sans-serif;
}

@media (min-width: 980px) {
  :root {
    --fs-body: 15px;
    --fs-title-rating: 27px;
    --fs-title-ty: 27px;
    --fs-subtitle: 20px;
    --fs-input: 16px;
    --fs-cta: 14px;
    --fs-small: 12px;
    --fs-score: 15px;
    --lh-body: 1.6;
    --ls-body-rating: 0px;
    --ls-body-ty: 0px;
    --ls-title: 0.3px;
    --ls-input: 0px;
    --ls-message: 0.2px;
    --ls-cta: 3px;
    --pad-ver-s: 37px;
    --pad-ver-m: 70px;
    --pad-hor: 32px;
  }
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body,
main,
section,
h1,
h2,
h3,
p,
span {
  margin: 0;
}

p {
  line-height: var(--lh-body);
}

html,
body {
  font-size: var(--fs-body);
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
  border: 0;
  outline: 0;
}

a:focus {
  outline: var(--clr-orange) 0.2rem solid;
}

body {
  width: 100%;
  min-height: 100vh;
  position: relative;
  font-family: var(--ff-primary);
  font-weight: 400;
  color: var(--clr-grey-light);
  background: var(--clr-blue-xdark);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

/* Typography */

.header__title {
  font-weight: 700;
  color: var(--clr-white);
  font-size: var(--fs-title-rating);
  line-height: var(--lh-title);
  letter-spacing: var(--ls-title);
}

.textbody {
  line-height: var(--lh-body);
  letter-spacing: var(--ls-body-rating);
}

.submit {
  font-size: var(--fs-cta);
  color: var(--clr-white);
  letter-spacing: var(--ls-cta);
  line-height: var(--lh-cta);
  font-weight: 400;
  text-transform: uppercase;
}

.thankyou {
  &__title {
    font-weight: 700;
    color: var(--clr-white);
    font-size: var(--fs-title-ty);
    line-height: var(--lh-title);
    letter-spacing: var(--ls-title);
  }
  &__score {
    font-size: var(--fs-score);
    color: var(--clr-orange);
  }
  
  &__body {
    letter-spacing: var(--ls-body-ty);
  }
}

.footer__attribution {
  text-align: center;
  font-size: var(--fs-xsmall);
  width: 100%;
  color: inherit;
}

.footer__attribution a {
  font-size: inherit;
  color: inherit;
}

/* Structure */

.container {
  flex: 1;
  width: min(91.45vw, 412px);
  display: grid;
  place-content: center;
}

.card {
  background: linear-gradient(
    to bottom,
    var(--clr-blue-meddark),
    var(--clr-blue-dark)
  );
  padding: var(--pad-hor);
  border-radius: 0.8em;
}

.header {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: left;
  // rating logo

  &__logo {
    background-color: var(--clr-blue-medium);
    width: 40px;
    height: 40px;
    display: grid;
    place-content: center;
    border-radius: 50%;
    margin-bottom: 14px;
    img {
      width: 14px;
      height: 14px;
      margin: 0 auto;
    }
  }
  &__title {
    margin-bottom: 6px;
  }
}

// rating title

// rating body
.content {
  .textbody {
    margin-bottom: 27px;
  }
  * {
    margin-inline: auto;
  }
}


// rating buttons

[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
} 
 
[type="radio"] + label {
  display: inline-block;
  width: 100%;
  margin: 0;
  color: var(--clr-grey-medium);
  font-size: var(--fs-score);
  font-weight: 700;
  background-color: var(--clr-blue-medlight);
  width: 42px;
  height: 42px;
  // padding-top: 5.5px;paddin
  display: grid;
  place-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.25s;
}

.buttons {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  [type="radio"] {
    &:hover + label {
      background-color: var(--clr-orange);
      color: var(--clr-white);
    }
    &:checked + label {
      background-color: var(--clr-grey-light);
      color: var(--clr-white);
    }
    &:checked:hover + label {
      color: var(--clr-white);
    }
    &:focus + label {
      outline: var(--clr-orange) 0.25rem solid;
      // color: var(--clr-white);
    }
  }
}

.submit {
  background-color: var(--clr-orange);
  width: 100%;
  border-radius: 24px;
  padding: 16.5px 0 12.5px;
  margin-bottom: 8px;
  cursor: pointer;
  transition: background-color 0.25s;
}

.submit:disabled {
  opacity: 0.6;
}

.submit:hover:not(:disabled) {
  background-color: var(--clr-white);
  color: var(--clr-orange);
  letter-spacing: var(--ls-cta);
  font-weight: 700;
}

.submit:focus {
  box-shadow: 0 0 0 0.2rem var(--clr-white);  
}

// thank you state

.thankyou {
  text-align: center;
  padding: 10px 0 15px;
  img {
    width: 145px;
    margin-bottom: 18px;
    margin-inline: auto;
  }
  &__score {
    background-color: var(--clr-blue-medium);
    width: fit-content;
    margin: 0 auto 22px;
    padding: 10px 12px 6px;
    border-radius: 15px;
  }
  &__title {
    margin-bottom: 6px;
  }
}

.footer {
  padding: 20px 0;
  flex: 0;
}

.footer__attribution {
  align-self: flex-end;
}

@media (min-width: 640px) {
  .card {
    border-radius: 2rem;
  }

  .header {
    &__logo {
      width: 48px;
      height: 48px;
      margin-bottom: 27px;
      img {
        width: 16px;
        height: 16px;
        margin-inline: auto;
      }
    }

    &__title {
      margin-bottom: 5px;
    }
  }

  .form {
    width: 97.5%;
  }
  .textbody {
    margin-bottom: 26px;
  }
  .buttons {
    margin-bottom: 32px;
  }
  [type="radio"] + label {
    width: 51px;
    height: 51px;
    padding-top: 5px;
  }
  .submit {
    width: 100.5%;
    padding: 16px 0 13px;
    margin-bottom: 0;
  }
  .thankyou {
    text-align: center;
    padding: 13px 0 15px;
    img {
      width: 162px;
      margin-bottom: 27px;
      margin-inline: auto;

    }
    &__score {
      margin: 0 auto 29px;
      padding: 9px 18px 6px;
      border-radius: 15px;
    }
    &__title {
      margin-bottom: 4px;
    }
    &__body {
      width: 98%;
    }
  }
}
