:root {
  --clr-white: 0, 0%, 98%;
  --clr-black: 0, 0%, 8%;
  --clr-neutral-500: 0, 0%, 41%;
  --clr-overlay: 0, 0%, 8%;
  --clr-link: hsl(var(--clr-neutral-500));
  --clr-link-hov: hsl(var(--clr-black));
  --bs-dropdown: 0px 0px 30px hsla(0, 0%, 8%, 0.15);
  --fs-100: 0.75rem;
  --fs-200: 0.875rem;
  --fs-300: 0.9375rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.25rem;
  --fs-700: 1.5rem;
  --fs-800: 2rem;
  --fs-900: 2.25rem;
  --fs-body: var(--fs-400);
  --fs-nav: var(--fs-400);
  --fs-p: var(--fs-500);
  --fs-h1: clamp(2.25rem, calc(1.2817rem + 4.1315vw), 5rem);
  --fs-login: var(--fs-300);
  --fs-small: var(--fs-100);
  --fw-500: 500;
  --fw-700: 700;
  --ff-primary: "Epilogue", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --ls-h1: -0.074rem;
  --ls-cta-intro: -0.015em;
  --lh-none: 1;
  --lh-body: 1.5;
  --lh-h1: 1.2;
  --lh-nav: 1;
  --lh-intro: 1.61;
  --lh-headings: 1.2;
  --lh-footer: 1.15;
  --pad-100: 1rem;
  --max-header: min(92.5%, 80rem);
}

@media (min-width: 960px) {
  :root {
    --fs-400: 1.125rem;
    --fs-nav: var(--fs-200);
    --fs-login: var(--fs-200);
    --lh-intro: 1.58;
    --lh-h1: 1;
    --ls-intro: 0.05px;
    --max-header: 87.3rem;
  }
}
/* Remove default margin */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html,
body {
  height: 100%;
}

html {
  height: -webkit-fill-available;
  min-height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: var(--lh-body);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
button {
  background: inherit;
  border: 0;
  color: inherit;
}

body::-webkit-scrollbar {
  width: 1em;
  width: 0 !important;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.fs-small {
  font-size: var(--fs-small);
}

.fs-h1 {
  font-size: var(--fs-h1);
}

.fs-login {
  font-size: var(--fs-login);
}

.fs-nav {
  font-size: var(--fs-nav);
}

.fw-bold {
  font-weight: var(--fw-700);
}

.clr-white {
  color: hsl(var(--clr-white));
}

.clr-black {
  color: hsl(var(--clr-black));
}

.clr-neutral-500 {
  color: hsl(var(--clr-neutral-500));
}

.wrapper {
  margin-inline: auto;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

body {
  font-size: var(--fs-body);
  font-family: var(--ff-primary);
  color: hsl(var(--clr-neutral-500));
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  line-height: var(--lh-body);
  background-color: hsl(var(--clr-white));
  min-height: 100vh;
  min-height: -webkit-fill-available;
  height: -webkit-fill-available;
  height: -moz-available;
  height: fill-available;
}

a {
  text-decoration: none;
  color: hsl(var(--clr-neutral-500));
  display: inline-block;
}
a:hover, a:active {
  color: hsl(var(--clr-black));
}

.header a,
.dropdown-btn {
  padding: 0.2rem 0.2rem 0.1rem;
}

a:focus,
.dropdown-btn:focus,
.mobile-toggle:focus {
  outline: 0.2rem dotted hsla(var(--clr-black), 0.9);
}

a:focus-within {
  opacity: 0.8;
}

button {
  cursor: pointer;
}

.cta {
  display: inline-block;
  cursor: pointer;
  border-radius: 1rem;
  border-width: 0.15rem;
  border-style: solid;
  border-color: hsl(var(--clr-black));
  padding: 0.65rem 1.17rem 0.6rem 1.45rem;
  background-color: hsl(var(--clr-black));
  color: hsl(var(--clr-white));
  letter-spacing: var(--ls-cta);
}

.cta[data-type=inverted] {
  background-color: hsl(var(--clr-white));
  color: hsl(var(--clr-neutral-500));
  border-color: hsl(var(--clr-neutral-500));
}

.cta:hover {
  background-color: hsl(var(--clr-white));
  color: hsl(var(--clr-black));
}

.cta[data-type=inverted]:hover {
  color: hsl(var(--clr-black));
  border-color: hsl(var(--clr-black));
}

@media (min-width: 960px) {
  .cta {
    padding: 0.8rem 1.75rem 0.75rem 1.875rem;
  }
}
.logo {
  display: block;
  width: clamp(6rem, 5.8239rem + 0.7512vw, 6.5rem);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1.375rem 0;
  gap: 2rem;
  width: 100%;
  max-width: var(--max-header);
}
.header ul,
.header li {
  list-style: none;
}

@media (max-width: 960px) {
  html.open body {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
  }
  .mobile-toggle {
    position: absolute;
    top: 1rem;
    right: 1.4rem;
    z-index: 10;
    padding: 0.2rem 0.2rem 0.1rem;
  }
  .mobile-toggle .open-menu {
    display: none;
  }
  [aria-expanded=false].mobile-toggle {
    position: absolute;
    z-index: 10;
    top: 1.25rem;
    right: 1.25rem;
  }
  [aria-expanded=false].mobile-toggle .close-menu {
    display: none;
  }
  [aria-expanded=false].mobile-toggle .open-menu {
    display: block;
  }
  .mobile-overlay {
    position: fixed;
    visibility: visible;
    top: 0;
    right: 0;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    opacity: 1;
    background-color: hsla(var(--clr-black), 0.3);
    transition: opacity 0.3s ease 0.2s;
  }
  [aria-expanded=false].mobile-toggle ~ .mobile-overlay {
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-out, visibility 0.1s ease-in-out 0.5s, z-index 0.5s;
  }
  .nav-inner {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
    width: 15rem;
    height: 100vh;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    opacity: 1;
    transform: translateX(0%);
    box-shadow: -1rem 0rem 3rem hsla(var(--clr-black), 0.5);
    transition: transform 0.25s ease-in, opacity 0.25s ease-in-out 0.1s;
    overflow-y: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .nav-inner::-webkit-scrollbar {
    display: none;
  }
  .nav-group {
    position: relative;
    min-height: 100vh;
    width: 15rem;
    background-color: hsl(var(--clr-white));
    padding: 5.125rem 2rem;
    text-align: left;
    line-height: var(--lh-nav);
  }
  [aria-expanded=false].mobile-toggle ~ .nav-inner {
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.25s ease-in, opacity 0.25s ease-in-out 0.1s;
  }
  .nav {
    margin-bottom: 2.375rem;
  }
  .nav ul > * + * {
    margin-top: 1.625rem;
  }
  .dropdown-items.features {
    margin-top: 2rem;
    margin-bottom: 0.3rem;
  }
  .dropdown-items.features > * + * {
    margin-top: 1.1rem;
  }
  .dropdown-items.company {
    margin-top: 1.75rem;
    margin-bottom: 0.5rem;
  }
  .dropdown-items.company > * + * {
    margin-top: 1.35rem;
  }
}
.nav {
  font-size: var(--fs-nav);
}
.nav .dropdown {
  position: relative;
}
.nav .dropdown-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.nav .dropdown-btn:hover .dropdown-title {
  color: hsl(var(--clr-black));
}
.nav .dropdown-btn:hover .arrow path {
  stroke: hsl(var(--clr-black));
}
.nav .dropdown-btn .arrow {
  display: inline-block;
  transform: rotate(0deg);
}
.nav .link-name,
.nav .dropdown-title {
  text-transform: capitalize;
}

.dropdown-items {
  position: absolute;
  z-index: -1;
  background-color: hsl(var(--clr-white));
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity 0.18s ease-in-out, transform 0.2s ease-in-out 0.1s;
  -webkit-margin-start: 0.975rem;
          margin-inline-start: 0.975rem;
}
.dropdown-items li a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  visibility: hidden;
  transition: visibility 0.1s;
}
.dropdown-items.reveal li a {
  visibility: visible;
  transition: visibility 0.1s;
}
.dropdown-items.reveal {
  z-index: 1;
  opacity: 1;
  transform: translateY(0%);
  transition: opacity 0.15s ease-in-out 0.2s, transform 0.15s ease-in-out 0.1s;
}
.dropdown-items.shift {
  position: relative;
}

[aria-expanded=true].dropdown-btn .arrow {
  transform: rotate(180deg);
  transition: transform 0s 0.25s;
}

.dropdown .link {
  display: flex;
  align-items: center;
}
.dropdown .link-icon {
  display: flex;
  align-items: center;
  width: 2.125rem;
  height: 1.25rem;
}
.dropdown .link-icon span {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  width: 1.2rem;
  height: 1.2rem;
}
.dropdown .link-icon.todo span {
  width: 1.1rem;
  height: 1.25rem;
  background-image: url("./images/icon-todo.svg");
}
.dropdown .link-icon.calendar span {
  background-image: url("./images/icon-calendar.svg");
}
.dropdown .link-icon.reminders span {
  background-image: url("./images/icon-reminders.svg");
}
.dropdown .link-icon.planning span {
  background-image: url("./images/icon-planning.svg");
}

.login ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}
.login li.button,
.login .cta {
  width: 100%;
}
.login .cta {
  border-radius: 0.5rem;
  padding: 0.75rem 2rem;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.main {
  text-align: center;
  margin-bottom: 2rem;
}
.main > * + * {
  margin-top: 2.9rem;
}

.hero {
  width: 100%;
  max-width: 480px;
  margin-inline: auto;
}

.landing {
  margin-inline: auto;
  width: min(92%, 40rem);
}
.landing-intro {
  margin-bottom: 3rem;
  letter-spacing: var(--ls-intro);
}
.landing-intro h1 {
  margin-bottom: 0.95rem;
  line-height: var(--lh-h1);
  color: hsl(var(--clr-black));
}
.landing-intro p {
  line-height: var(--lh-intro);
  margin-bottom: 1.55rem;
  color: hsl(var(--clr-neutral-500));
}
.landing-intro .cta:hover {
  font-weight: var(--fw-700);
  letter-spacing: var(--ls-cta-intro);
}
.landing-clients {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.8rem;
  justify-content: center;
}

.footer {
  flex: 1;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5rem;
}
.footer .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer a {
  text-decoration: underline;
}

@media (min-width: 375px) {
  .landing-clients {
    flex-wrap: nowrap;
  }
}
@media (min-width: 960px) {
  .header {
    gap: 3.3rem;
    align-items: center;
    padding: 1rem 1rem;
    margin-bottom: 2.6rem;
  }
  .logo {
    margin-top: 0.55rem;
  }
  .nav-container {
    width: 100%;
    margin-right: 0.15rem;
  }
  .nav-container .mobile-toggle {
    display: none;
  }
  .nav-container .nav-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    padding: 0;
  }
  .nav > ul > * {
    display: inline-block;
  }
  .nav > ul > * + * {
    margin-left: 1.8rem;
  }
  .nav .dropdown-items {
    -webkit-margin-start: 0rem;
            margin-inline-start: 0rem;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    top: 2.6rem;
    border-radius: 0.6rem;
    box-shadow: var(--bs-dropdown);
  }
  .nav .dropdown-items.features {
    padding: 1.2rem 1.4rem;
    right: 0;
  }
  .nav .dropdown-items.features > * + * {
    margin-top: 0.38rem;
  }
  .nav .dropdown-items.company {
    padding: 1.2rem 1.4rem;
    left: 0;
  }
  .nav .dropdown-items.company > * + * {
    margin-top: 0.4rem;
  }
  .dropdown-items {
    transition: opacity 0.1s ease, transform 0.25s ease;
  }
  .dropdown-items.shift {
    position: absolute;
  }
  .dropdown-items.reveal {
    transition: opacity 0.15s ease 0.15s, transform 0.18s ease 0.15s;
  }
  .dropdown .link-icon {
    width: 1.7rem;
  }
  .dropdown .link-icon span {
    display: inline-block;
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
  }
  .dropdown .link-icon.todo span {
    width: 0.9rem;
    height: 1rem;
  }
  .dropdown .link-name {
    -webkit-margin-start: 0.1rem;
            margin-inline-start: 0.1rem;
  }
  .login ul {
    flex-direction: row;
    align-items: center;
    gap: 2.35rem;
  }
  .login ul .cta {
    padding: 0.75rem 1.3rem;
    border-radius: 0.85rem;
  }
  .main {
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    width: min(92%, 73.8rem);
    margin-bottom: 5rem;
    align-items: flex-end;
  }
  .hero {
    align-self: center;
    margin-inline: auto 0;
    margin-bottom: 0.5rem;
    padding-inline: 0;
    width: min(42%, 30rem);
  }
  .hero img {
    -webkit-margin-start: auto;
            margin-inline-start: auto;
  }
  .landing {
    margin-inline: clamp(0rem, -4.4rem + 7.3333vw, 2.2rem) auto;
    max-width: 32rem;
    text-align: left;
    order: -1;
  }
  .landing-intro {
    padding-inline: 0;
    margin-bottom: clamp(3rem, -4.5rem + 12.5vw, 6.75rem);
  }
  .landing-intro h1 {
    letter-spacing: var(--ls-h1);
    margin-bottom: clamp(1rem, -3rem + 6.6667vw, 3rem);
  }
  .landing-intro p {
    max-width: 30rem;
    margin-bottom: 3.2rem;
  }
  .landing-clients {
    justify-content: flex-start;
    gap: 2.5rem;
    padding-inline: 0;
  }
}/*# sourceMappingURL=style.css.map */