@use "./sass/reset";
@use "./sass/config";

// blocks

body {
  width: 100%;
  min-height: 100vh;
  position: relative;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  font-weight: 800;
  color: var(--clr-cyan-light);
  background: var(--clr-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Typography */

.advice {
  &__number {
    color: var(--clr-green-neon);
    font-size: var(--fs-h1);
    letter-spacing: var(--ls-h1);
    text-transform: uppercase;
  }
  &__text {
    font-size: var(--fs-quote);
    line-height: var(--lh-quote);
  }
}

.footer {
  color: var(--clr-white);
  font-weight: 400;
  &__attribution {
    text-align: center;
    font-size: var(--fs-xsmall);
    color: inherit;
  }
  &__attribution a {
    font-size: inherit;
    color: inherit;
    &:hover {
      opacity: 0.8;
    }
    &:active,
    &:focus {
      border: 2px solid var(--clr-accent);
      outline: 0;
    }
  }
}

/* Structure */

.container {
  width: min(91.5%, 80rem);
  margin-inline: auto;
  display: grid;
  place-content: center;
  height: 100%;
  padding: 1rem 0;
}

.component {
  background-color: var(--clr-blue-darkgrayish);
  padding: 2.2em 0.9em 3.55em;
  width: clamp(18.75rem, calc(13.75rem + 26.6667vw), 33.75rem);
  margin-inline: auto;
  border-radius: 0.6em;
  position: relative;
  &:active,
  &:focus {
    outline: 2px solid var(--clr-accent);
  }
}

.component__inner {
  min-height: 125px;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;

}

// spinner

.loading {
  display: flex;
  align-items: flex-end;
  max-width: 12rem;
  transform: translateY(260%);
  margin-inline: auto;
  justify-content: space-between;
  opacity: 0.5;
  transition: opacity 0.35s, transform 0.3s ease-in-out;

  div {
    background-color: var(--clr-cyan-light);
    width: 2rem;
    height: 2rem;
    border-radius: 0.3rem;
    animation: load 1.5s infinite ease-in-out both;
    &:nth-child(2) {
      animation-delay: 0.3s;
    }
    &:nth-child(3) {
      animation-delay: 0.6s;
    }
  }
}

[aria-hidden="true"].loading ~ .component__inner {
  opacity: 0;
}

[aria-hidden="true"].loading ~ .component__inner > .advice {
  height: 0;
}

[aria-hidden="false"].loading {
  opacity: 0;
  // transform: translateY(0%);
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.advice {
  margin-inline: auto;
  height: 100%;
  transition-duration: 0.1s;
  transition-property: height;
  transition-timing-function: ease-in-out;
  * {
    width: 100%;
    display: block;
  }
  &__number {
    margin-bottom: 2.2em;
  }
  &__text {
    margin-bottom: 0.95rem;
  }

}

.divider {
  width: 100%;
  height: 1em;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./images/pattern-divider-mobile.svg");
}

.dice {
  background-color: var(--clr-green-neon);
  width: 3.5em;
  position: absolute;
  bottom: -1.65rem;
  left: 50%;
  margin-left: -1.75rem;
  border-radius: 50%;
  border: none;
  padding: 1.05rem;
  cursor: pointer;
  box-shadow: 0 0 1rem var(--clr-blue-darkgrayish);
    &:hover {
    box-shadow: 0 0 1.5rem var(--clr-green-neon);
  }
  &:focus {
    // box-shadow: 0 0 1.5rem var(--clr-green-neon);
    outline: 2px solid var(--clr-accent);
  } 
  &:active {
    outline: 2px solid var(--clr-accent);
  }
}

.footer {
  display: flex;
  width: 100%;
  flex: 0;
  padding: 0.5rem;
  &__attribution {
    align-self: flex-end;
    text-align: center;
    width: 100%;
    &-content {
      margin: 0 auto;
    }
  }
}

.hidden {
  visibility: hidden;
  transition-delay: 1s;
  transition-property: visibility;
  transition-duration: 1s;
}

// Utils

.block-footer {
  display: block;
}

// media queries

@media (min-width: 780px) {
  .component {
    padding: 2.2em 2em 3.55em;
  }
  .advice {
    &__number {
      margin-bottom: 1.9em;
    }
    &__text {
      margin-bottom: 1.44em;
    }
  }

  .dice {
    background-color: var(--clr-green-neon);
    width: 3.55em;
    position: absolute;
    bottom: -1.75em;
    left: 50%;
    margin-left: -1.75em;
    border-radius: 50%;
    padding: 1.12em;
    cursor: pointer;
    &:hover {
      box-shadow: 0em 0em 1.4em var(--clr-green-neon);
    }
  }

  .divider {
    background-image: url("./images/pattern-divider-desktop.svg");
  }

  .block-footer {
    display: inline-block;
  }
}
