*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font: inherit;
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: var(--lh-body);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

button,
button:focus {
  border: 0;
  outline: 0;
}

:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-bg: hsl(220, 22%, 16%);
  --clr-blue-grayish: hsl(217, 19%, 38%);
  --clr-blue-darkgrayish: hsl(218, 20%, 24%);
  --clr-cyan-light: hsl(193, 38%, 86%);
  --clr-green-neon: hsl(150, 100%, 66%);
  --clr-accent: hsl(346, 84%, 68%);
  --fs-body: 18px;
  --fs-p: 1rem;
  --fs-h1: 0.6rem;
  --fs-quote: 1.3rem;
  --fs-xsmall: 0.5rem;
  --lh-body: 1.5;
  --lh-p: 1.5;
  --lh-quote: 1.42;
  --ls-body: 0px;
  --ls-h1: 0.34em;
  --ff-primary: Manrope, Arial, sans-serif;
  --debug: 1px solid blue;
}

@media (min-width: 780px) {
  :root {
    --fs-body: 18px;
    --fs-p: 1rem;
    --fs-h1: 0.7rem;
    --fs-quote: 1.52rem;
    --fs-xsmall: 0.6rem;
    --lh-body: 1.5;
    --lh-p: 1.5;
    --lh-quote: 1.38;
    --ls-body: 0px;
    --ls-h1: 0.34em;
  }
}
body {
  width: 100%;
  min-height: 100vh;
  position: relative;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  font-weight: 800;
  color: var(--clr-cyan-light);
  background: var(--clr-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Typography */
.advice__number {
  color: var(--clr-green-neon);
  font-size: var(--fs-h1);
  letter-spacing: var(--ls-h1);
  text-transform: uppercase;
}
.advice__text {
  font-size: var(--fs-quote);
  line-height: var(--lh-quote);
}

.footer {
  color: var(--clr-white);
  font-weight: 400;
}
.footer__attribution {
  text-align: center;
  font-size: var(--fs-xsmall);
  color: inherit;
}
.footer__attribution a {
  font-size: inherit;
  color: inherit;
}
.footer__attribution a:hover {
  opacity: 0.8;
}
.footer__attribution a:active, .footer__attribution a:focus {
  border: 2px solid var(--clr-accent);
  outline: 0;
}

/* Structure */
.container {
  width: min(91.5%, 80rem);
  margin-inline: auto;
  display: grid;
  place-content: center;
  height: 100%;
  padding: 1rem 0;
}

.component {
  background-color: var(--clr-blue-darkgrayish);
  padding: 2.2em 0.9em 3.55em;
  width: clamp(18.75rem, 13.75rem + 26.6667vw, 33.75rem);
  margin-inline: auto;
  border-radius: 0.6em;
  position: relative;
}
.component:active, .component:focus {
  outline: 2px solid var(--clr-accent);
}

.component__inner {
  min-height: 125px;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.loading {
  display: flex;
  align-items: flex-end;
  max-width: 12rem;
  transform: translateY(260%);
  margin-inline: auto;
  justify-content: space-between;
  opacity: 0.5;
  transition: opacity 0.35s, transform 0.3s ease-in-out;
}
.loading div {
  background-color: var(--clr-cyan-light);
  width: 2rem;
  height: 2rem;
  border-radius: 0.3rem;
  -webkit-animation: load 1.5s infinite ease-in-out both;
          animation: load 1.5s infinite ease-in-out both;
}
.loading div:nth-child(2) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.loading div:nth-child(3) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

[aria-hidden=true].loading ~ .component__inner {
  opacity: 0;
}

[aria-hidden=true].loading ~ .component__inner > .advice {
  height: 0;
}

[aria-hidden=false].loading {
  opacity: 0;
}

@-webkit-keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.advice {
  margin-inline: auto;
  height: 100%;
  transition-duration: 0.1s;
  transition-property: height;
  transition-timing-function: ease-in-out;
}
.advice * {
  width: 100%;
  display: block;
}
.advice__number {
  margin-bottom: 2.2em;
}
.advice__text {
  margin-bottom: 0.95rem;
}

.divider {
  width: 100%;
  height: 1em;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("./images/pattern-divider-mobile.svg");
}

.dice {
  background-color: var(--clr-green-neon);
  width: 3.5em;
  position: absolute;
  bottom: -1.65rem;
  left: 50%;
  margin-left: -1.75rem;
  border-radius: 50%;
  border: none;
  padding: 1.05rem;
  cursor: pointer;
  box-shadow: 0 0 1rem var(--clr-blue-darkgrayish);
}
.dice:hover {
  box-shadow: 0 0 1.5rem var(--clr-green-neon);
}
.dice:focus {
  outline: 2px solid var(--clr-accent);
}
.dice:active {
  outline: 2px solid var(--clr-accent);
}

.footer {
  display: flex;
  width: 100%;
  flex: 0;
  padding: 0.5rem;
}
.footer__attribution {
  align-self: flex-end;
  text-align: center;
  width: 100%;
}
.footer__attribution-content {
  margin: 0 auto;
}

.hidden {
  visibility: hidden;
  transition-delay: 1s;
  transition-property: visibility;
  transition-duration: 1s;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.block-footer {
  display: block;
}

@media (min-width: 780px) {
  .component {
    padding: 2.2em 2em 3.55em;
  }
  .advice__number {
    margin-bottom: 1.9em;
  }
  .advice__text {
    margin-bottom: 1.44em;
  }
  .dice {
    background-color: var(--clr-green-neon);
    width: 3.55em;
    position: absolute;
    bottom: -1.75em;
    left: 50%;
    margin-left: -1.75em;
    border-radius: 50%;
    padding: 1.12em;
    cursor: pointer;
  }
  .dice:hover {
    box-shadow: 0em 0em 1.4em var(--clr-green-neon);
  }
  .divider {
    background-image: url("./images/pattern-divider-desktop.svg");
  }
  .block-footer {
    display: inline-block;
  }
}/*# sourceMappingURL=stylesheet.css.map */