:root {
  --clr-blue-xdark: hsl(233, 47%, 7%);
  --clr-blue-darkdes: hsl(244, 38%, 16%);
  --clr-accent: hsl(277, 64%, 61%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-white-mainp: hsla(0, 0%, 100%, 0.75);
  --clr-white-statshead: hsla(0, 0%, 100%, 0.6);
  --fs-body: 15px;
  --pad-mobile: 1.5em;
  --ff-primary: "Inter", sans-serif;
  --ff-secondary: "Lexend Deca", sans-serif;
}
 
*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
h1,
p {
  margin: 0;
}

p {
  font-weight: 500;
  line-height: 1.6;
  margin: 0;
}

html,
body {
  font-size: var(--fs-body);
}

img {
  width: 100%;
}

body {
  min-height: 100vh;
  font-family: var(--ff-primary);
  background-color: var(--clr-blue-xdark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./images/pattern-background-mobile.svg");
  background-position: top;
  background-repeat: no-repeat;
  color: var(--clr-white);
}

.component {
  width: min(88%, 74rem);
  flex-grow: 1;
  display: grid;
  place-content: center;
  padding: min(15%, 4rem) 0;
}

.card {
  display: flex;
  flex-direction: column;
  background: var(--clr-blue-darkdes);
  border-radius: 0.5rem;
  position: relative;
  max-width: 560px;
}

.card__image {
  display: block;
  position: relative;
  max-height: clamp(16rem, calc(11.6522rem + 18.5507vw), 20rem);
  border-radius: 0.5em 0.5em 0 0;
  background-color: var(--clr-accent);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 0rem;
    position: relative;
    mix-blend-mode: multiply;
    filter: brightness(1.1) contrast(0.7);
  }
}

.card__content {
  width: 100%;
  padding: 2.5em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2.2em;

  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.3em;
  }
  .title {
    font-size: 28px;
    letter-spacing: 0.3px;
    &__highlight {
      color: var(--clr-accent);
    }
  }
  
  p.textbody {
    opacity: 0.6;
    line-height: 1.75;
  }
  .stats {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 6rem;
    margin-inline: auto;
    text-transform: uppercase;
    font-family: var(--ff-secondary);
    font-size: 11px;
    letter-spacing: 1px;
    gap: 2em;
    font-weight: 400;
    > * {
      flex: 1 1 5rem;
    }
    &__highlight {
      font-family: var(--ff-primary);
      font-weight: 700;
      display: block;
      text-transform: none;
      font-size: 1.5rem;
      & + span {
        opacity: 0.6;
      }
      // 
    }
  }  
  
}

.attribution {
  padding: 0.75rem;
  font-size: 0.75rem;
  text-align: center;
  color: var(--clr-white);
}

.attribution a {
  font-size: inherit;
  color: var(--clr-accent);
}

@media (min-width: 980px) {
  .card {
    flex-direction: row;
    max-width: unset;
    max-height: 29.8rem;
  }
  .card__image {
    flex: 1 1 525px;
    order: 2;
    max-height: unset;
    height: 100%;
    border-radius: 0 0.5em 0.5em 0;
    img {
      object-position: right 0rem;
    }
  }
  .card__content {
    flex: 1;
    order: 1;
    padding: 4rem 4.8rem 4.2rem;
    text-align: left;
    .container {
      align-items: flex-start;
      gap: 1.45rem;
    }
    .title {
      font-size: 2.25rem;
      line-height: 1.3;
      margin-top: 0.8rem;
    }
    p.textbody {
      width: 90%;
      line-height: 1.7;
    }
    .stats {
      flex: 1;
      align-items: flex-end;
      width: 30rem;
      &__highlight {
        font-size: 1.625rem;
        line-height: 1.5;
        + span {
          font-size: 0.875rem;
        }
      }
    }

  }
}
