:root {

  --clr-white: hsl(0, 0%, 98%);
  --clr-black: hsl(0, 0%, 8%);
  --clr-neutral-500: hsl(0, 0%, 41%);
  --clr-overlay: hsla(0, 0%, 8%, 0.3);

  --clr-link: var(--clr-neutral-500);
  --clr-link-hov: var(--clr-black);

  --bs-subnav: 3px 3px 30px hsla(0, 0%, 8%, 0.18);

  --bdr: 1px magenta solid;

  --fs-100: 0.75rem;
  --fs-200: 0.875rem;
  --fs-300: 0.9375rem; // 15pt
  --fs-400: 1rem; // 16pt
  --fs-500: 1.125rem; // 18pt
  --fs-600: 1.25rem; // 20pt
  --fs-700: 1.5rem; // 24pt
  --fs-800: 2rem; // 32pt
  --fs-900: 2.25rem; // 36pt

  --fs-body: var(--fs-400);
  --fs-menu: var(--fs-400);
  --fs-p: var(--fs-500);
  --fs-h1: clamp(2.25rem, calc(1.2817rem + 4.1315vw), 5rem);
  --fs-login : var(--fs-300);

  --fw-500: 500;
  --fw-700: 700;

  --ff-primary: 'Epilogue', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  --ls-h1: -0.074rem;
  // --ls-cta: 0.001rem;

  --lh-none: 1;
  --lh-body: 1.5;
  --lh-h1: 1.2;
  --lh-nav: 2.6;
  --lh-intro: 1.61;
  --lh-headings: 1.2;
  --lh-footer: 1.15;

  // --width-clamp: clamp(20rem, calc(7.1795rem + 54.7009vw), 40rem);
  // --width-max: max(20vw, 30rem);

  --max-header: 86.9rem;
  --max-main: 80.35rem;
 
  // --pad-main: 0.8rem;
  --flow-space: 1rem;
  // --max-testimonials: 85rem;

  --bp-1: 720px;
}

@media (min-width: 960px) {
  :root {
    --fs-400: 1.125rem; // 18pt
    --fs-menu: var(--fs-200);
    --fs-login : var(--fs-200);

    --lh-intro: 1.55;
    --lh-h1: 1.01;
    --lh-nav: 1.2;

    --ls-intro: 0.05px;

    
    --pad-main: 2rem;
    --pad-landing: 3.5rem 0rem;
  }
}