:root {
  --clr-red-desat: hsl(0, 36%, 70%);
  --clr-red-desatlight: hsla(0, 31%, 72%, 0.582);
  --clr-red-xdesatlight: hsla(0, 40%, 67%, 0.712);
  --clr-red-dark: hsl(0, 27%, 50%);
  --clr-red-soft: hsl(0, 93%, 68%);
  --clr-grayred-dark: hsl(0, 6%, 24%);
  --clr-white: hsl(0, 0%, 100%);
  --fs-title: 40px;
  --fs-body: 14px;
  --fs-input: 14px;
  --fs-small: 13px;
  --lh-body: 1.58;
  --lh-title: 1.06;
  --ls-title: 11px;
  --ls-input: -0.1px;
  --mar-span: 0px;
  --pad-hor: 32px;
  --pad-ver-s: 31.5px;
  --pad-ver-m: 63px;
  --ff-primary: "Josefin Sans", sans-serif;
  --bkg-body: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --bkg-btn: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  --bkg-btn-hov: linear-gradient(135deg, hsl(0, 100%, 94%), hsl(0, 59%, 85%));
}

@media (min-width: 769px) {
  :root {
    --fs-title: 48px;
    --fs-body: 15px;
    --pad-ver-s: 40px;
    --pad-ver-m: 70px;
    /* --bkg-body: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 40%, 91%)); */
  }
}

@media (min-width: 1150px) {
  :root {
    --fs-body: 16px;
    --fs-title: 64px;
    --fs-input: 16px;
    --lh-title: 1.04;
    --lh-body: 1.76;
    --ls-title: 16.7px;
    --ls-input: -0.16px;
    --mar-span: 4.2px;
    --pad-hor: 138px;
    --pad-ver-s: 65px;
    --pad-ver-m: 69px;
  }
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

html,
body,
main,
section,
h1,
h2,
h3,
p,
span {
  margin: 0;
}

p {
  line-height: var(--lh-body);
}

html,
body {
  font-size: var(--fs-body);
}

img {
  width: 100%;
}

input {
  background-color: inherit;
  width: 100%;
}

input,
input:valid,
input:invalid
input:focus,
input:active
 {
  border: none;
  outline: 0;
}

button,
button:focus {
  border: 0;
  outline: 0;
}

body {
  width: 100%;
  height: 100%;
  min-width: 375px;
  min-height: 100vh;
  position: relative;
  font-family: var(--ff-primary);
  font-weight: 400;
  color: var(--clr-red-desat);
  background: var(--bkg-body);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.sr-only {
  position: absolute;
  top: -500px;
  width: 1px;
  height: 1px;
}

/* Typography */

.content__body {
  letter-spacing: 0.1px;    
}

h2.content__title {
  font-weight: 300;
  font-size: var(--fs-title);
  color: var(--clr-grayblue-xdark);
  line-height: var(--lh-title);
  letter-spacing: var(--ls-title);
  text-transform: uppercase;    
}

h2.content__title > span {
  color: var(--clr-grayred-dark);
  font-weight: 700;
  display: block;
  margin-bottom: var(--mar-span);
}

.content__body {
  font-size: var(--fs-body);
}

.input__email {
  font-size: var(--fs-input);
  color: var(--clr-grayred-dark);
  font-family: inherit;
  font-weight: 700;
  letter-spacing: var(--ls-input);    
}

.input__error-message {
  color: var(--clr-red-soft);
  font-size: var(--fs-small);
}

.submit__message {
  color: var(--clr-grayred-dark);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--clr-red-desatlight);
}
::-moz-placeholder { /* Firefox 19+ */
  color: var(--clr-red-desatlight);
}
:-ms-input-placeholder { /* IE 10+ */
  color: var(--clr-red-desatlight);
}
:-moz-placeholder { /* Firefox 18- */
  color: var(--clr-red-desatlight);
}

/* Structure */

.header,
.hero, 
.main
.attribution {
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-left: var(--pad-hor);
  padding-right: var(--pad-hor);
}

.header {
  padding-top: var(--pad-ver-s);
  padding-bottom: var(--pad-ver-s);
  background: transparent;
}

.logo {
  background-image: url('./images/logo.svg');
  height: 21px;
  background-repeat: no-repeat;
  background-size: contain;
}

.hero {
  background-image: url("./images/hero-mobile.jpg");
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  padding-top: var(--pad-ver-m);
  padding-bottom: var(--pad-ver-m);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.container > * {
  margin: 0 auto;
  min-width: 311px;
  max-width: 450px;
}

.main__content {
  margin-bottom: 32px;
}

.content__title {
  margin-bottom: 15px;
}

.main__signup {
  height: 66px;
  position: relative;
}

.signup {
  border: 1.8px solid var(--clr-red-desatlight);
  border-radius: 2em;
}

.signup,
.signup__input {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.signup__input {
  padding: 14.72px 27.2px 12.8px;
}

.input__email {
  width: 100%;
}

.input__error-icon {
  width: 135px;
  display: none;
}

.input__error-message {
  padding: 10px 0px;
  width: 225px;
  margin: 0 auto;
  display: none;
}

.signup__submit {
  cursor: pointer;
  position: absolute;
  right: -0.5px;
  top: 0.5px;
  height: 46px;
  width: 80px;
  border-radius: 2em;
  background: var(--bkg-btn);
  box-shadow: 0px 5px 15px var(--clr-red-desatlight);
}

.signup__submit:hover {
  background: var(--bkg-btn-hov);
  box-shadow: 0px 12px 25px var(--clr-red-xdesatlight);
}

.error .signup {
  border: 2px solid var(--clr-red-soft);
}

.error .signup__input {
  padding: 10.12px 26.2px 8.3px;
}

.error .input__error-message {
  display: block;
}

.error .input__error-icon {
  display: flex;
  justify-content: flex-start;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.attribution {
  padding: 1em 0;
  width: 100%;
  background: transparent;
  color: inherit;
  font-size: 11px;
  /* position: fixed; */
}

.attribution a {
  font-size: inherit;
  color: inherit;
}

@media (min-width: 769px) {
  body {
    display: grid;
    grid-template-columns: 5fr 3.67fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header hero"
    "main hero"
    "footer hero";
    row-gap: 0;
    justify-content: center;
  }
  body::after {
    content: '';
    position: absolute;
    background-image: url('./images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 58% 100%;
    z-index: -1;
    width: 100%;
    height: 100%;
    min-height: 100vh;
  }
  .header {
    grid-area: header;
    align-self: start;
  }
  .logo {
    height: 28px;
  }
  .hero {
    background-image: url("./images/hero-desktop.jpg");
    grid-area: hero;
    height: 100%;
    background-position: center;
  }
  .main {
    align-self: stretch;
    height: 100%;
    position: relative;
    grid-area: main;
  }
  .main,
  .main__content {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .container {
    width: fit-content;
    text-align: left;
    align-self: center;
  }
  .container > * {
    width: 444px;
  }
  .input__error-message {
    padding: 10px 30px;
    width: 100%;
  }
  .attribution {
    align-self: end;
    grid-area: footer;
    display: block;
  }
}


@media (min-width: 1150px) {
  .logo {
    height: 33px;
  }
  .content__title {
    margin-bottom: 20.5px;
  }
  .container {
    padding-right: calc(var(--pad-hor) + 56px);
  }
  .main__content {
    margin-bottom: 40px;
  }
  .signup {
    border: 1.6px solid var(--clr-red-desatlight);
    border-radius: 2.2em;
  }
  .signup__input {
    padding: 17.02px 27.2px 15.4px;
  }
  .focus .signup__input {
    padding: 16.32px 26.2px 13.2px;
  }
  .error .signup__input {
    padding: 15.32px 26.2px 12.2px;
  }
  .input__error-icon {
    width: 158px;
  }
  .signup__submit {
    width: 100px;
    height: 58px;
    top: 0.59px;
    border-radius: 2.2em;
  }
}

/* Utils  */
.focus,
.signup__submit.focus
{ 
  border: 2px solid var(--clr-red-dark);
}