:root {
  --clr-primary-100: 0, 36%, 70%;
  --clr-primary-200: 0, 93%, 68%;
  --clr-primary-300: 0, 27%, 50%;
  --clr-neutral-900: 0, 6%, 24%;
  --clr-white: 0, 0%, 100%;
  --fs-title: clamp(2.5rem, calc(1.9718rem + 2.2535vw), 4rem);
  --fs-body: 0.875rem;
  --fs-small: 0.8125rem;
  --lh-body: 1.6;
  --lh-title: 1.1;
  --ls-title: 0.6875rem;
  --ls-input: -0.01rem;
  --debug: 1px solid blue;
  --pad-header: 2rem;
  --pad-content: clamp(2rem, calc(-13.3077rem + 73.8462vw), 4rem);
  --ff-primary: "Josefin Sans", sans-serif;
  --bkg-body: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --bkg-btn: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  --bkg-btn-hov: linear-gradient(135deg, hsl(0, 100%, 94%), hsl(0, 59%, 85%));
}

@media (min-width: 770px) {
  :root {
    --fs-body: 0.9375rem;
    --pad-header: 2.5rem;
    --pad-content: 1.5rem;
  }
}
@media (min-width: 1150px) {
  :root {
    --fs-body: 1rem;
    --lh-title: 1.04;
    --lh-body: 1.76;
    --ls-title: 1.04rem;
    --ls-input: -0.01rem;
    --mar-span: 0.2625rem;
    --pad-header: 4.05rem;
    --pad-content: 2rem;
  }
}
*,
*:after,
*:before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role=list],
ol[role=list] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: var(--lh-body);
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

input {
  width: 100%;
}

button,
button:focus,
input,
input:valid,
input:invalid input:focus,
input:active,
optgroup,
select,
textarea,
html input[type=button],
input[type=reset],
input[type=submit],
button[disabled],
html input[disabled],
button::-moz-focus-inner,
input::-moz-focus-inner,
input[type=checkbox],
input[type=radio],
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=search],
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  outline: 0;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  width: 100%;
  min-height: 100vh;
  font-family: var(--ff-primary);
  font-weight: 400;
  color: hsl(var(--clr-primary-100));
  background: var(--bkg-body);
  display: flex;
  flex-direction: column;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/* Typography */
.content p {
  letter-spacing: 0.015rem;
}
.content h2 {
  font-weight: 300;
  font-size: var(--fs-title);
  line-height: var(--lh-title);
  letter-spacing: var(--ls-title);
  text-transform: uppercase;
}
.content h2 > span {
  color: hsl(var(--clr-neutral-900));
  font-weight: 700;
  display: block;
  margin-bottom: var(--mar-span);
}

.cta .input__email {
  color: hsl(var(--clr-neutral-900));
  font-size: var(--fs-input);
  font-family: inherit;
  font-weight: 700;
  letter-spacing: var(--ls-input);
  line-height: 1;
}
.cta .submit__message {
  color: hsl(var(--clr-neutral-900));
}
.cta .notification {
  color: hsl(var(--clr-primary-200));
  font-size: var(--fs-small);
}

.footer {
  color: hsl(var(--clr-primary-300));
  font-size: var(--fs-small);
}
.footer a {
  font-size: inherit;
  color: inherit;
}
.footer a:hover {
  color: hsl(var(--clr-neutral-900));
}

input::-moz-placeholder {
  color: hsla(var(--clr-primary-100), 0.9);
  opacity: 0.582;
}

input::placeholder {
  color: hsla(var(--clr-primary-100), 0.9);
  opacity: 0.582;
}

input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder,
input:-moz-placeholder {
  /* Chrome/Opera/Safari */
  color: hsla(var(--clr-primary-100), 0.9);
  opacity: 0.582;
}

/* Structure */
.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.wrapper::after {
  content: "";
  position: absolute;
  background-image: url("./images/bg-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.main > *,
.footer > * {
  min-width: 20rem;
}

.container {
  width: min(85%, 550px);
  margin-inline: auto;
  text-align: center;
}

.header {
  padding: var(--pad-header) 0;
  background: transparent;
}

.logo {
  height: 1.5rem;
  width: -moz-fit-content;
  width: fit-content;
}
.logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.hero {
  height: clamp(15.625rem, -42.5rem + 248vw, 35rem);
}
.hero img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 -0.4rem;
     object-position: 0 -0.4rem;
  height: 100%;
  width: 100%;
}

.main {
  background: transparent;
}
.main__content {
  padding: var(--pad-content) 0;
}
.main__content h2 {
  margin-bottom: 1rem;
}
.main__cta {
  height: 4.125rem;
  position: relative;
}

.cta {
  max-width: 400px;
  margin-inline: auto;
}
.cta .signup {
  position: relative;
}
.cta .signup,
.cta .signup .input {
  width: 100%;
  display: flex;
  align-items: stretch;
}
.cta .signup .input {
  justify-content: space-between;
  border-color: hsla(var(--clr-primary-100), 0.282);
  border-style: solid;
  border-width: 0.15rem;
  border-radius: 2rem;
  padding: 0.85rem 1.7rem 0.65rem;
}
.cta .signup .submit {
  position: absolute;
  top: 0;
  right: -0.1rem;
  display: grid;
  place-content: center;
  height: 98%;
  width: 5rem;
  border-radius: 2em;
  background-image: var(--bkg-btn);
  box-shadow: 0px 5px 15px hsl(var(--clr-primary-100), 0.712);
  cursor: pointer;
  transform: scale(1);
  transition: all 300ms;
}
.cta .signup .submit:hover {
  background-image: var(--bkg-btn-hov);
  box-shadow: 0px 12px 25px hsla(var(--clr-primary-100), 0.712);
  transform: scale(1.05);
}

.input__email {
  width: 100%;
}
.input__error-icon {
  width: 8.44rem;
}
.input__error-icon svg {
  visibility: hidden;
  transform: translateX(200%);
  transition: transform 200ms;
}

.notification {
  padding: 0.625rem 0;
  width: 225px;
  margin: 0 auto;
  visibility: hidden;
}

.footer {
  padding: 1em 0;
  background: transparent;
}

/* Utils  */
.error .signup {
  border: 0;
}
.error .signup .input {
  border-color: hsl(var(--clr-primary-200));
}
.error .signup .input__error-icon svg {
  visibility: visible;
  transform: translateX(0%);
}
.error .notification {
  visibility: visible;
  transform: translateX(0);
}

.focus .input {
  border-color: hsl(var(--clr-primary-300));
}

@media (min-width: 50em) {
  .wrapper {
    display: grid;
    grid-template-columns: 5fr 3.67fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header hero" "main hero" "footer hero";
    place-content: center;
  }
  .wrapper::after {
    content: "";
    position: absolute;
    background-image: url("./images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 58% 100%;
    z-index: -1;
    width: 100%;
    height: 100%;
  }
  .container {
    width: min(85%, 450px);
    text-align: left;
  }
  .header {
    grid-area: header;
    padding: var(--pad-header) 0 0;
  }
  .header .logo {
    height: 1.75rem;
  }
  .hero {
    grid-area: hero;
    min-height: 100%;
  }
  .hero img {
    -o-object-position: center;
       object-position: center;
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    position: relative;
    grid-area: main;
  }
  .main, .main__content {
    margin-bottom: 2rem;
    align-items: flex-start;
    justify-content: center;
  }
  .main__cta {
    margin-inline: 0 auto;
  }
  .notification {
    padding: 0.625rem 1.875rem;
    width: 100%;
  }
  .footer {
    align-self: end;
    grid-area: footer;
  }
}
@media (min-width: 1150px) {
  .container {
    width: min(85%, 496px);
    padding-right: 3.24rem;
  }
  .header .logo {
    height: 2rem;
  }
  .main {
    justify-content: center;
  }
  .main__content {
    margin-bottom: 0.5rem;
  }
  .main__content h2 {
    margin-bottom: 1.3rem;
  }
  .cta .signup .input {
    border-width: 0.13rem;
    border-radius: 2.2em;
    padding: 0.9rem 1.7rem 0.85rem;
  }
  .cta .signup .input__error-icon {
    width: 9.875rem;
  }
  .cta .signup .submit {
    width: 6.25rem;
    height: 3.625rem;
    border-radius: 2.2rem;
  }
}/*# sourceMappingURL=stylesheet.css.map */