:root {
  --clr-primary-400: 263, 55%, 52%;
  --clr-secondary-400: 217, 19%, 35%;
  --clr-secondary-500: 219, 29%, 14%;
  --clr-neutral-100: 0, 0%, 100%;
  --clr-neutral-200: 210, 46%, 95%;
  --clr-neutral-300: 0, 0%, 81%;

  --fs-100: 0.6875rem; // 12pt
  --fs-200: 0.8125rem; // 13pt
  --fs-300: 0.875rem; // 14pt
  --fs-400: 0.9375rem; // 15pt
  --fs-500: 1rem; // 16pt
  --fs-600: 1.125rem; // 18pt
  --fs-700: 1.25rem; // 20pt
  --fs-800: 1.5rem; // 24pt
  --fs-900: 2rem; // 32pt

  --fs-body: var(--fs-500);
  --fs-p: var(--fs-300);
  --fs-h1: var(--fs-800);
  --fs-quote: var(--fs-700);

  --lh-body: 1.39;

  --ff-primary: "Barlow Semi Condensed", Arial, Helvetica, sans-serif;

  --pad-comp: 3rem 1.5rem 1rem;
  --pad-card: 1.5rem 2rem 2rem;
  --pad-footer: 0.5rem;

  --fw-medium: 500;
  --fw-semibold: 600;
}

// CSS reset

/* Remove default margin */

*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */

html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */

html,
body {
  height: 100%;
}

body {
  text-rendering: optimizeSpeed;
  line-height: var(--lh-body);
}

/* A elements that don't have a class get default styles */

a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms;
    animation-iteration-count: 1;
    transition-duration: 0.01ms;
    scroll-behavior: auto;
  }
}

/* utility classes  */

.font-primary {
  font-family: var(--ff-primary);
}
.fs-body {
  font-size: var(--fs-200);
}
.lh-none {
  line-height: var(--lh-none);
}
.lh-product-name {
  line-height: var(--lh-product-name);
}
.lh-product-description {
  line-height: var(--lh-product-description);
}
.lh-footer {
  line-height: var(--lh-footer);
}
.fw-medium {
  font-weight: var(--fw-medium);
}
.fw-semibold {
  font-weight: var(--fw-semibold);
}
.clr-primary-400 {
  color: hsl(var(--clr-violet-400));
}
.clr-secondary-400 {
  color: hsl(var(--clr-secondary-400));
}
.clr-secondary-500 {
  color: hsl(var(--clr-secondary-500));
}
.clr-neutral-100 {
  color: hsl(var(--clr-neutral-100));
}
.clr-neutral-200 {
  color: hsl(var(--clr-neutral-200));
}
.clr-neutral-300 {
  color: hsl(var(--clr-neutral-300));
}
.bg-primary-400 {
  background-color: hsl(var(--clr-primary-400));
}
.bg-secondary-400 {
  background-color: hsl(var(--clr-secondary-400));
}
.bg-secondary-500 {
  background-color: hsl(var(--clr-secondary-500));
}
.bg-neutral-100 {
  background-color: hsl(var(--clr-neutral-100));
}
.bg-neutral-200 {
  background-color: hsl(var(--clr-neutral-200));
}
.bg-neutral-300 {
  background-color: hsl(var(--clr-neutral-300));
}
.pad-footer {
  padding: var(--pad-footer);
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

a {
  color: hsl(var(--clr-secondary-400));
  &:hover {
    color: hsl(var(--clr-secondary-500));
  }
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  line-height: var(--lh-body);
}

.component {
  flex: 1;
  display: grid;
  place-content: center;
  padding: var(--pad-comp);
}

.container {
  max-width: 69.4rem;
  display: grid;
  grid-auto-columns: 1fr;
  gap: 1.5rem;
  grid-template:
    "daniel daniel"
    "jonathan jonathan"
    "jeanette jeanette"
    "patrick patrick"
    "kira kira";
}

.card {
  padding: var(--pad-card);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 1rem 3rem hsla(var(--clr-secondary-400), 0.15);
  // * > {
  //   flex: 1;
  // }
  &__graduate {
    display: flex;
    line-height: 1.3;
    margin-left: -0.1rem;
    gap: 1rem;
    .avatar {
      background-size: cover;
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      border: 2px solid hsla(var(--clr-neutral-300), 0.8);
    }
    .profile {
      z-index: 10;
      display: flex;
      flex-direction: column;
      .verified {
        font-size: var(--fs-100);
        opacity: 0.6;
      }
    }
  }
  &__quote {
    font-size: var(--fs-quote);
    font-weight: var(--fw-medium);
    line-height: 1.2;
    letter-spacing: 0.1px;
    opacity: 0.9;
  }
  &__testimonial {
    opacity: 0.6;
  }
}

.daniel {
  grid-area: daniel;
  position: relative;
  .avatar {
    background-image: url("./images/image-daniel.jpg");
  }
}
.jonathan {
  grid-area: jonathan;
  .avatar {
    background-image: url("./images/image-jonathan.jpg");
  }
}
.jeanette {
  grid-area: jeanette;
  .avatar {
    background-image: url("./images/image-jeanette.jpg");
  }
}
.patrick {
  grid-area: patrick;
  .avatar {
    background-image: url("./images/image-patrick.jpg");
    border: 2px solid hsla(var(--clr-primary-400), 0.8);
  }
}
.kira {
  grid-area: kira;
  .avatar {
    background-image: url("./images/image-kira.jpg");
  }
}

.icon-quotation {
  position: absolute;
  top: 0;
  right: 1.5rem;
}

.footer {
  justify-self: flex-end;
  text-align: center;
  span {
    display: inline-block;
  }
}

@media (min-width:600px) {
  .container {
    // gap: 1.5rem;
    grid-template:
      "daniel jeanette"
      "daniel patrick"
      "jonathan patrick"
      "kira kira";
  }
}

// }

@media (min-width:840px) {
  .container {
    grid-template:
      "daniel jeanette jonathan"
      "daniel patrick patrick"
      "kira kira kira";
  }
}

@media (min-width:1080px) {
  .container {
    gap: 1.57rem 1.9rem;
    grid-template:
      "daniel daniel jonathan kira"
      "jeanette patrick patrick kira";
  }
  .icon-quotation {
    top: 0;
    right: 5rem;
  }
}